<ion-view view-title="Admin Details">
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">
				      Your Role
				</span>
				<input type="text" name="role"  ng-model="admin.role">
		    </label>
		    <label class="item item-input">
				<span class="input-label">
				      What will you contribute?
				</span>
				<input type="text" name="contribution"  ng-model="admin.contribute" class="item-text-wrap">
		    </label>
		</div>
		<div class="padding">
				<button class="button button-block button-balanced">Submit</button>
		</div>
	</ion-content>
</ion-view>