<ion-view title="Admin Request Handle">
  <ion-content>
  	<div>
      <div class="card">
        <div class="item item-text-wrap">
          <p><b>Role:</b>  {{accessRequest.get("role")}}</p>
          <p><b>Title:</b>  {{accessRequest.get("title")}}</p>
          <p><b>Message:</b>  {{accessRequest.get("contributeMessage")}}</p>
        </div>
        <div class="padding">
        <button class="button button-block button-balanced" ng-click=approve()>Approve</button>
      </div>
      <div class="padding">
          <button class="button button-block button-balanced" ng-click="reject()">Reject</button>
      </div>
      <div class="padding">
          <button class="button button-block button-balanced" ng-click="cancel()">Cancel</button>
      </div>
    </div>
    
  <!-- {{user.get("user").get("firstName")}} -->
</ion-content>
</ion-view>
  
