<ion-view view-title="Edit Demograph Details">
  <ion-content>
   	<ion-item >
   		<label class="item item-input" >
				<span class="input-label">
				      Area 
				</span>
			<input type="text" name="area"  ng-model="newDemoObj.area">
		</label>
		<label class="item item-input" >
				<span class="input-label">
				      Population
				</span>
			<input type="text" name="population"  ng-model="newDemoObj.population">
		</label>
    <label class="item item-input" >
        <span class="input-label">
              Established
        </span>
      <input type="text" name="population"  ng-model="newDemoObj.year" ng-if="newDemoObj.year">
    </label>
		<label class="item item-input" >
				<span class="input-label">
				      History
				</span>
			
		</label>
		<label class="item item-input" >
			<textarea placeholder="History...." rows="5" ng-model="newDemoObj.history"></textarea>
		</label>
		<div class="padding" >
        	<button class="button button-block button-balanced" ng-click="submit()">Submit</button>
     	</div>
     	<div class="padding" >
        	<button class="button button-block button-balanced" ng-click="cancel()">Cancel</button>
     	</div>
	</div>
   </ion-item>
  </ion-content>
 </ion-view>