<ion-view view-title="Picture Manager">
  <ion-content>
<!-- <div>Select an image file: <input type="file" id="fileInput" /></div> -->
  <div class="cropArea">
    <img-crop image="myImage" result-image="result.myCroppedImage" result-image-size="300" area-min-size="100" area-type="square" result-image-format="image/jpeg" result-image-quality="0.5" result-image-aspect="{{aspectRatio}}"></img-crop>
  </div>
<!--   <div>Cropped Image:</div>
  <div><img ng-src="{{result.myCroppedImage}}" /></div> -->
    <div>
<!--       <div class="item item-image">
        <img ng-show="file !== undefined" ng-src="{{file}}">
        <img ng-show="file === undefined" ng-src="img/picture_template.png">
      </div>  -->
    </div>
    <div class="row"  ng-if="pictureSelected">
      <div class="col">
        <button class="button button-positive icon-left ion-ios-reverse-camera-outline button-block" ng-click="chooseAnotherPicture()">Retake Picture</button>
      </div>            
      <div class="col">
        <button class="button button-balanced icon-left ion-upload button-block" ng-click="uploadPicture()">Use Picture</button>
      </div>
    </div>        
    <div class="row"  ng-if="!pictureSelected">
      <div class="col">
        <button class="button button-balanced icon-left ion-image button-block" ng-click="selectFromGallery()">Gallery</button>  
      </div>
      <div class="col">
        <button class="button button-calm icon-left ion-ios-camera button-block" ng-click="takePicture()">Camera</button>
      </div>        
    </div>    
<!--     <div class="row">
      <button class="button button-block button-assertive" ng-click="cancel()">Cancel</button>
    </div> -->
  </ion-content>
</ion-view>
