<ion-view title="Demography">
    <ion-nav-buttons side="secondary" >
      <a class="button" href="#/tab/changedemodetails/{{region.get('uniqueName')}}" ng-show="canManageRegionDetails()">Edit</a>
    </ion-nav-buttons>
    <ion-content>
    	<ion-list>
        <ion-item >
           Established <span class="item-note">{{region.get('demography').est}}</span>
        </ion-item>
        <ion-item>
  			   Area <span class="item-note">{{region.get('demography').area}} Sq Km </span>
  			</ion-item>
  			<ion-item>
  			   Population <span class="item-note">{{region.get("demography").population}} </span>
  			</ion-item>
    	</ion-list> 
    	<ion-item>
	        Pincodes
	        <span class="item-note">
	          <span ng-repeat="pincode in region.get('demography').pinCodes track by $index">
	            {{pincode}} {{$last ? '' : ', '}}
	          </span>
	        </span>
      </ion-item>
      <ion-item class="item-divider">
        History:
      </ion-item>      
      <ion-item class="item-text-wrap">
          {{region.get('demography').history}}
      </ion-item>
	</ion-content>
</ion-view>