<ion-view title="Demography">
    <ion-content>
    	<ion-list>
    		<ion-item>
  			   Area <span class="item-note">{{region.area}} Sq Km </span>
  			</ion-item>
  			<ion-item>
  			   Population <span class="item-note">{{region.population}} </span>
  			</ion-item>
    	</ion-list>
    	<ion-item>
	        Pincodes
	        <span class="item-note">
	          <span ng-repeat="pincode in region.pinCodes">
	            {{pincode}} {{$last ? '' : ', '}}
	          </span>
	        </span>
      </ion-item>
      <ion-item style="white-space: normal;">
      	History:<br/>
        {{region.history}}
  	  </ion-item>
	</ion-content>
</ion-view>