
<ion-view view-title="Authenticate">
	<ion-content>
			<div ng-show="registerErrorMessage" class="padding assertive">{{registerErrorMessage}}</div>
			<div class="list">
				<label class="item item-input item-select">
				    <span class="input-label">
				      Country
				    </span>
				    <select ng-model="selectedValues.country" ng-options="country.name for country in countryList">
				    </select>				    
				 </label>							
 				<label class="item item-input">
				    <span class="input-label">
				      Phone number
				    </span>
				    <input type="tel" name="phoneNum" ng-model="user.phoneNum" maxlength="10">
				  </label>
				<label class="item item-input" ng-hide="userRegistered">
				    <span class="input-label">
				      First name
				    </span>
				    <input type="text" name="firstName"  ng-model="user.firstName">
				  </label>
				<label class="item item-input" ng-hide="userRegistered">
				    <span class="input-label">
				      Last name
				    </span>
				    <input type="text" name="lastName" ng-model="user.lastName">
				</label>				  
				<div class="item item-divider" ng-hide="userRegistered">
					Residency
				</div>
				<label class="item item-input item-select" ng-hide="userRegistered">
				    <span class="input-label">
				    	{{'SecondLevelRegion' | translate}}
				    </span>
				    <select ng-model="selectedValues.highLevelRegion" ng-options="region.get('name') for region in highLevelRegionList" ng-change="showNextLevelRegions()">
				    </select>
				 </label>
				<label class="item item-input item-select" ng-hide="userRegistered">
				    <span class="input-label">
				      {{'FirstLevelRegion' | translate}}
				    </span>
				    <select ng-model="selectedValues.finalLevelRegion" ng-options="region.get('name') for region in finalLevelRegionList" ng-change="showFinalLevelRegions()">
				    </select>
				 </label>				 
				<div class="padding" ng-hide="userRegistered">
					<button class="button button-block button-balanced" ng-click="register()">Register</button>
				</div>				  
			</div>
			<div class="padding" ng-hide="phoneVerified" ng-show="userRegistered">
				<button class="button button-block button-balanced" ng-click="authPhoneNum()">Verify Phone Number</button>
			</div>			
	</ion-content>
</ion-view>


