<ion-view>
<ion-nav-title>
      {{region.name}}
    </ion-nav-title>
  <ion-content>
    <div class="list card">
      <div class="item item-image">
        <img src="img/{{region.uniqueName}}.png">
      </div>
    </div>
  	<ion-list>
  		<ion-item>
  			      Area <span class="item-note">{{region.area}} SqKm </span>
  		</ion-item>
  		<ion-item>
  			      Population <span class="item-note">{{region.population}} </span>
  		</ion-item>
      <ion-item href="#/tab/offices/{{region.uniqueName}}" class="item-icon-right">
          Government Offices
        <span class="badge badge-balanced">{{region.execOffAddrList.length}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item href="#/tab/legis/{{region.uniqueName}}" class="item-icon-right">
<!--         <i class="icon ion-person-stalker"></i> -->
          Legislature Contacts
        <span class="badge badge-royal">{{region.legiRepList.length}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item>
        Pincodes
        <span class="item-note">
          <span ng-repeat="pincode in region.pinCodes">
            {{pincode}} {{$last ? '' : ', '}}
          </span>
        </span>
      </ion-item>      

  	</ion-list>
  </ion-content>
</ion-view>