<ion-view title="Executive Offices">
  <ion-content>
    <div class="card" ng-repeat="execOffAddr in region.execOffAddrList">
	  <div class="item item-divider">
	    {{execOffAddr.officeName}}
	  </div>
	  <div class="item item-text-wrap">
	    <div>
	    	<div ng-if="execOffAddr.addressLine1">{{execOffAddr.addressLine1}}</div>
	    	<div ng-if="execOffAddr.addressLine2">{{execOffAddr.addressLine2}}</div>
	    	<div ng-if="execOffAddr.landmark">{{execOffAddr.landmark}}</div>
	    </div>
	    <p>
		    <i class="icon ion-iphone"></i>
		    <span ng-repeat="phNo in execOffAddr.phoneNumberList">
		    	{{phNo}} {{$last ? '' : ', '}}
		    </span>
	    </p>
	      <div ng-repeat="admin in execOffAddr.execAdmin">
	        {{admin.title}} : {{admin.name}}
	      </div>	    	
	  </div>
	</div>
  </ion-content>
</ion-view>