<!-- Can digits login page default to specific country code?

User name - Digits username, phone number
Password - digits, custom
AuthChannel - digits, custom
Phone number 
First name
Last name
Residency -->

<ion-view view-title="Authenticate">
	<ion-content>
			<div ng-show="registerError" class="padding">
				{{registerErrorMessage}}
			</div>	
			<div class="list">
				<label class="item item-input item-select">
				    <span class="input-label">
				      Country
				    </span>
				    <select ng-model="user.countryCode">
				      <option value="91" selected>India</option>
				      <option value="1">United States</option>
				    </select>
				 </label>			
				<label class="item item-input">
				    <span class="input-label">
				      Phone number
				    </span>
				    <input type="tel" name="phoneNum" ng-model="user.phoneNum">
				  </label>
				<label class="item item-input" ng-hide="userRegistered">
				    <span class="input-label">
				      First name
				    </span>
				    <input type="text" name="firstName"  ng-model="user.firstName">
				  </label>
				<label class="item item-input" ng-hide="userRegistered">
				    <span class="input-label">
				      Last name
				    </span>
				    <input type="text" name="lastName" ng-model="user.lastName">
				  </label>				  
				<label class="item item-input item-select" ng-hide="userRegistered">
				    <span class="input-label">
				      Residency
				    </span>
				    <select ng-model="user.residency">
				      <option value="dowlaiswaram">Dowlaiswaram</option>
				      <option value="srikrishnapatnam" selected>Sri Krishna Patnam</option>
				    </select>
				 </label>
				<div class="padding" ng-hide="userRegistered">
					<button class="button button-block button-balanced" ng-click="register()">Register</button>
				</div>				  
			</div>
			<div class="padding" ng-hide="phoneVerified" ng-show="userRegistered">
				<button class="button button-block button-balanced" ng-click="authPhoneNum()">Verify Phone Number</button>
			</div>			
	</ion-content>
</ion-view>


