<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-item>
              First name <p>{{user.get("firstName")}}</p>
      </ion-item>
      <ion-item>
              Last name <p>{{user.get("lastName")}}</p>
      </ion-item>
      <ion-item>
              Phone Number <p>{{user.get("username")}}</p>
      </ion-item>
      <ion-item>
              Residency <p>{{user.get("residency") | uppercase}}</p>
      </ion-item>                        
      <ion-toggle ng-model="settings.notifications" ng-change="notifySettingChanged('notifySetting', settings.notifications)">
          Notifications
      </ion-toggle>
    </ion-list>
    <div class="padding">
      <button class="button button-block button-assertive" ng-click="logout()">Sign out</button>
    </div>    
  </ion-content>
</ion-view>
