<ion-view view-title="Activity">
  <ion-nav-buttons side="primary">
    <a class="button button-icon icon ion-compose" href="#/tab/post" ng-show="isAdmin()"></a>
  </ion-nav-buttons>
  <ion-content>
    <div ng-show="activityError">{{activityErrorMessage}}</div>
    <div class="list card" ng-repeat="activity in activities" ng-hide="activityError">
      <div class="item item-body">
        <div>
          {{activity.get("notifyMessage")}}
        </div>
        <p>
          Posted by : {{activity.get("user").get("firstName")}}
<!--           Posted on : {{activity.createdAt}} -->
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
