<ion-view>
  <ion-nav-title>
    Service Contact
  </ion-nav-title>
  <ion-content class="visible-cards">
    <my-app-message info="appMessage"></my-app-message>
    <my-app-message info="controllerMessage"></my-app-message>
    <div class="card">
      <div class="item item-text-wrap">
        <h2>{{serviceContact.serviceName}}</h2>
        <p ng-if="serviceContact.type!='Other'">{{serviceContact.type}}</p>
        <p ng-if="serviceContact.type=='Other'">{{serviceContact.otherCategoryName}}</p>
        <br>
        <p>{{serviceContact.serviceAddressLine1}}</p>
        <p>{{serviceContact.serviceAddressLine2}}</p>        
        <a class="button icon-left ion-ios-telephone-outline button-clear button-positive" ng-repeat="phoneNum in phoneNums track by $index" style="padding-left:0px; margin-right: 10px;" ng-href="tel: {{phoneNum}}">{{phoneNum}}</a>              
      </div>
      <ion-item ng-if="serviceContact.user.firstName">
        <h3>Recommended By</h3>
        <p>{{serviceContact.user.firstName}} {{serviceContact.user.lastName}}</p>        
      </ion-item>                
    </div>    
    <div class="padding">
      <button class="button button-balanced button-block" ng-click="gotoEditServiceContact()">
        Edit Service Contact
      </button>
      <button class="button button-assertive button-block" ng-click="deleteServiceContact()">
        Delete Service Contact
      </button>      
    </div>
  </ion-content>
</ion-view>