<ion-view title="New Home">
	<ion-content>
	    <my-app-message info="appMessage"></my-app-message>
	    <my-app-message info="controllerMessage"></my-app-message>	
		<ion-list>
			<label class="item item-input item-stacked-label" ng-if="regionSettings.multiBlock">
				<span class="input-label">Block Number</span>
				<input type="text" name="blockNo" class="textAlignLeft" ng-model="input.blockNo">
			</label>										        		
			<ion-item class="item-divider">Home numbers</ion-item>
			<label class="item item-input">
				<textarea placeholder="Enter home numbers separated by comma. Use colon to group multiple numbers.

Ex: 101,102,103,201:216,301:316" rows="5" ng-model="input.homeData"></textarea>
		    </label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Number of Bed Rooms</span>
				<input type="text" name="bedrooms" class="textAlignLeft" ng-model="input.noOfBedRooms">
			</label>										        				    					    
			<label class="item item-input item-stacked-label">
				<span class="input-label">Square Footage of Home</span>
				<input type="text" name="sqft" class="textAlignLeft" ng-model="input.noOfSqFt">
			</label>										        				    
		</ion-list>
		<div class="padding" >
        	<button class="button button-block button-balanced" ng-click="submit()">Add Home(s)</button>
        	<button class="button button-block button-outline" ng-click="cancel()">Cancel</button>
    	</div>
	</ion-content>
</ion-view>