<ion-view view-title="Update Resident">
	<ion-content>			
		<my-app-message info="controllerMessage"></my-app-message>
		<div class="list">		
			<label class="item item-input">
				<span class="input-label">First Name</span>
				<input type="text" name="firstName"  ng-model="inputUser.firstName">
			</label>
			<label class="item item-input">
				<span class="input-label">Last Name</span>
				<input type="text" name="lastName" ng-model="inputUser.lastName">
			</label>		
			<label class="item item-input item-select" ng-if="regionSettings.supportHomeNumber">
			    <div class="input-label">Home Number</div>
			    <select ng-model="inputUser.home" ng-options="availableHome.label for availableHome in availableHomes"></select>
			</label>								
	        <ion-toggle class="toggle-balanced" ng-model="inputUser.homeOwner">
	          Home Owner
	        </ion-toggle>          							
			<label class="item item-input item-select" ng-if="regionSettings.supportMultiCountry">
			    <span class="input-label">Country Code</span>
			    <select ng-model="inputUser.country" ng-options="country.name for country in countryList"></select>			    
			 </label>													        
			<label class="item item-input">
				<span class="input-label">Phone Number</span>
				<input type="tel" name="phoneNum" ng-model="inputUser.phoneNum" maxlength="15">
			</label>							
			<label class="item item-input">
				<span class="input-label">Email</span>
				<input type="text" name="email" ng-model="inputUser.email">
			</label>
			<div class="row">
				<div class="col">
					<a class="button button-block" href="#/tab/neighbor-detail/{{inputUser.userId}}">Ignore</a>	
				</div>
				<div class="col">
					<a class="button button-block button-balanced" ng-click="update()">Update</a>	
				</div>					
			</div>
		</div>
	</ion-content>
</ion-view>


