<ion-view title="Residents">
  <ion-nav-buttons side="secondary">
<!-- 	<a class="button button-icon icon ion-person-add" href="#/tab/invite-citizen"></a>	 -->
<!-- 	<a class="button button-icon icon ion-navicon" href="#/tab/invite-citizen"></a>	 -->
	<a class="button button-light button-outline" style="border-color: #fff; color: #fff;" href="#/tab/invite-citizen">&nbsp;&nbsp;Invite&nbsp;&nbsp;</a>    	
  </ion-nav-buttons>
  <ion-content>
  <my-app-message info="appMessage"></my-app-message>  
  <my-app-message info="controllerMessage"></my-app-message>  
  	<ion-list>
      <label class="item item-input" ng-if="control.requestedSearch">
          <i class="icon ion-search placeholder-icon calm"></i>
          <input type="text" placeholder="Search by resident name, home number..." class="textAlignLeft" ng-model="control.searchStr">
      </label>      	
	    <ion-item class="item-thumbnail-left item-icon-right" collection-repeat="neighbor in neighborList | filter:control.searchStr" href="#/tab/neighbor-detail/{{neighbor.id}}">
	      <img ng-src="{{neighbor.get('images')[0]}}" ng-if="neighbor.get('images')">
	      <img ng-src="img/avatar2.png" ng-if="!neighbor.get('images')">
	      <h2>{{neighbor.get("firstName")}} {{neighbor.get("lastName")}}</h2>		
	      <p>
	      	<span ng-if="neighbor.get('homeNo')">{{neighbor.get("homeNo") | formatHomeNumber}}</span>
	      	<span ng-if="!neighbor.get('homeNo')">Home # NA</span>
	      </p>      
	      <p>
<!-- 	      	<i class="icon ion-iphone"></i> -->
	      	{{neighbor.get("phoneNum")}}
	      </p>      	      	      	      
	      <p ng-if="neighbor.get('bloodGroup')">
	      	<span class="custom-badge">{{neighbor.get("bloodGroup")}}</span>
	      </p>      
			<i class="icon ion-chevron-right icon-accessory"></i>	      	      	      	      
	    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>