<ion-view view-title="Edit Home">
  <ion-content>
    <my-app-message info="controllerMessage"></my-app-message>  
    <my-app-message info="appMessage"></my-app-message>      
 		<label class="item item-input" ng-if="home">
			<span class="input-label">Home number</span>
		  <input type="text" ng-model="input.homeNo">
	  </label>
	  <div class="padding-horizontal" >
      	<button class="button button-block button-balanced" ng-click="editHome()">Submit</button>
   	</div>
   	<div class="padding-horizontal" >
      	<button class="button button-block button-assertive" ng-click="cancel()">Cancel</button>
   	</div>
   </div>
  </ion-content>
</ion-view>