<ion-view view-title="Balance Sheet">
  <ion-content class="visible-cards">
  <my-app-message info="appMessage"></my-app-message>
  <my-app-message info="controllerMessage"></my-app-message>
    <div class="card">
      <ion-list>
        <div class="item">
          <h2 class="positive" style="font-weight: bold;">{{focusMonth | date:'MMM yyyy'}}</h2>
        </div>            
        <ion-item class="item-icon-right" href="#/tab/revenue-list">
          Revenue
          <span class="item-note">{{revenueTotal | currency}}</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right" href="#/tab/expense-list">
          Expenses
          <span class="item-note">{{expenseTotal | currency}}</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>        
        <ion-item ng-if="revenueTotal>=expenseTotal">
          Reserve
          <span class="item-note balanced">{{revenueTotal-expenseTotal | currency}}</span>
        </ion-item>                
        <ion-item ng-if="revenueTotal<expenseTotal">
          Defecit
          <span class="item-note assertive">{{expenseTotal-revenueTotal | currency}}</span>
        </ion-item>                        
      </ion-list>
    </div>
    
<!--     <div class="card">
      <div class="row">
        <div class="col">
          <i class="icon ion-chevron-left"></i>
          Dec 2015
        </div>
        <div class="col" style="text-align: right;">
          Feb 2016
          <i class="icon ion-chevron-right"></i>          
        </div>        
      </div>        
    </div>     -->

  </ion-content>
</ion-view>
 