<ion-view view-title="Maintenance Fee">
  <ion-content class="visible-cards">
  <my-app-message info="appMessage"></my-app-message>
  <my-app-message info="controllerMessage"></my-app-message>
    <div class="card">
      <div class="row">
        <div class="col content-center">
          <h4>Maintenance Fee</h4>
          <h2 class="royal" ng-if="currentDues">
            {{currentDues.get("maintDues") | formatCurrency}}
<!--             &nbsp;<i class="icon ion-arrow-up-a balanced"></i> -->
          </h2>
          <h2 class="royal" ng-if="!currentDues">NA</h2>
        </div>
      </div>  
      <div class="row" ng-if="currentDues.get('notes')">
        <div class="col content-center">
          <p style="color: grey;">
            <span style="font-weight: bold;" class="assertive">Note:</span> {{currentDues.get("notes")}}
          </p>
        </div>
      </div>
      <div class="padding" ng-if="isAdmin">
        <!-- Show when there are no current and upcoming dues, first time setting up the community -->
        <a class="button button-calm button-block" href="#/tab/manage-dues/SETUP" ng-if="!currentDues && !upcomingDues">
          Setup Maintenance Fee
        </a>        
        <!-- Show when current dues available and not upcoming dues. If there are upcoming dues, it has capability to edit and delete -->
        <a class="button button-calm button-block" href="#/tab/manage-dues/SETUP" ng-if="currentDues && !upcomingDues">
          Setup Upcoming Fee
        </a>                
      </div>      
    </div>    

    <div class="card" ng-if="upcomingDues">
      <div class="row">
        <div class="col content-center">
          <h4>Upcoming Maintenance Fee</h4>
          <p>[ Effective : {{upcomingDues.get("effectiveMonth") | date:'MMM yyyy'}} ]</p>
<!--             <p><span style="color: grey; font-size: 12px;">( Effective : {{upcomingDues.get("effectiveMonth") | date:'MMM yyyy'}} ) </span></p> -->
          <h2 class="royal">
            {{upcomingDues.get("maintDues") | formatCurrency}}&nbsp;
            <i class="icon ion-arrow-up-a balanced" ng-if="upcomingDues.get('maintDues')>currentDues.get('maintDues')"></i>
            <i class="icon ion-arrow-down-a assertive" ng-if="upcomingDues.get('maintDues')<currentDues.get('maintDues')"></i>
          </h2>
        </div>
      </div>  
      <div class="row" ng-if="upcomingDues.get('notes')">
        <div class="col content-center">
          <p style="color: grey;">
            <span style="font-weight: bold;" class="balanced">Note:</span> {{upcomingDues.get("notes")}}
          </p>
        </div>
      </div>      
      <div class="row" ng-if="isAdmin">
        <div class="col">
          <a class="button button-assertive button-block button-small" ng-click="deleteUpcomingDues()">
            Delete
          </a>                  
        </div>
        <div class="col">
          <a class="button button-calm button-block button-small" href="#/tab/manage-dues/{{upcomingDues.id}}">
            Edit
          </a>                  
        </div>
      </div>      
    </div>        

    <div class="card" ng-if="duesHistory.length>0">
      <div class="item item-divider">Fee History</div>
      <ion-item ng-repeat="dues in duesHistory">
        {{dues.get("effectiveMonth") | date:'MMM yyyy'}} <span class="item-note">{{dues.get("maintDues")  | formatCurrency}}</span>
      </ion-item>            
    </div>        

  </ion-content>
</ion-view>
 