<ion-view view-title="Maintenance Dues">
  <ion-content class="visible-cards">
  <my-app-message info="appMessage"></my-app-message>
  <my-app-message info="controllerMessage"></my-app-message>
    <div class="card">
      <div class="row">
        <div class="col" style="text-align: center;">
          <h4>Maintenance Dues</h4>
          <h2 class="royal">3000.00&nbsp;<i class="icon ion-arrow-up-a balanced"></i></h2>
        </div>
      </div>  
      <div class="padding">
        <a class="button button-calm button-block" href="#/tab/manage-dues">
          Manage Dues
        </a>
      </div>
      
    </div>    
<!--     <h4>&nbsp;&nbsp;&nbsp;&nbsp;Settings</h4> -->
    <div class="card">
      <div class="item item-divider">Dues History</div>
      <ion-item>
        Jan 2016 <span class="item-note">Rs 120000.00</span>
      </ion-item>            
      <ion-item>
        Dec 2015 <span class="item-note">Rs 120000.00</span>
      </ion-item>            
      <ion-item>
        Nov 2015 <span class="item-note">Rs 110000.00</span>
      </ion-item>            
      <ion-item>
        Sep 2015 <span class="item-note">Rs 100000.00</span>
      </ion-item>            
    </div>        

  </ion-content>
</ion-view>
 