<ion-view view-title="Maintenance Fee">
  <ion-content class="visible-cards">
  <my-app-message info="appMessage"></my-app-message>
  <my-app-message info="controllerMessage"></my-app-message>
    <div class="card">
      <div class="row">
        <div class="col content-center">
          <h4>Maintenance Fee</h4>
          <p ng-if="currentDues">[ Effective : {{currentDues.get("effectiveMonth") | date:'MMM yyyy'}} ]</p>          
          <h2 class="royal" ng-if="!currentDues">NA</h2>
          <h2 class="royal" ng-if="currentDues.get('maintType')=='FIXED'">
            {{currentDues.get("maintDues") | formatCurrency}}
          </h2>          
          <h2 class="royal" ng-if="currentDues.get('maintType')=='VARIABLE' && estimatedFee">
            {{estimatedFee | formatCurrency}}
          </h2>
        </div>
      </div>  
      <ion-list ng-if="currentDues.get('maintType')=='VARIABLE'">
        <ion-item class="item-divider item-royal">
          Fee Breakdown
        </ion-item>
        <ion-item class="item-text-wrap" ng-repeat="cat in currentDues.get('maintCategories')">
          {{cat.name}}
          <span class="item-note" ng-if="cat.variable && cat.variableType==0">&nbsp;/ Sq Ft</span>          
          <span class="item-note" ng-if="cat.variable && cat.variableType==1">&nbsp;/ Bed Room</span>                         
          <span class="item-note">{{cat.fee | formatCurrency}}</span>
        </ion-item>           
      </ion-list>      
      <div class="row" ng-if="currentDues.get('notes')">
        <div class="col content-center">
          <p style="color: grey;">
            <span style="font-weight: bold;" class="assertive">Note:</span> {{currentDues.get("notes")}}
          </p>
        </div>
      </div>
      <!-- Show edit and delete option if dues been setup -->
      <div class="row" ng-if="isAdmin" ng-if="currentDues">
        <div class="col">
          <a class="button button-assertive button-block button-small" ng-click="deleteDues()">
            Delete
          </a>                  
        </div>
        <div class="col">
          <a class="button button-calm button-block button-small" href="#/tab/manage-dues/{{currentDues.id}}">
            Edit
          </a>                  
        </div>
      </div> 
      <!-- Show option to setup fees if they have not been setup -->
      <div class="padding" ng-if="!currentDues">
        <a class="button button-calm button-block" href="#/tab/manage-dues/SETUP">
          Setup Maintenance Fee
        </a>        
      </div>      
    </div>       

<!--     <div class="card" ng-if="duesHistory.length>0">
      <div class="item item-divider item-energized">Fee History</div>
      <ion-list can-swipe="true">
        <ion-item ng-repeat="dues in duesHistory">
          {{dues.get("effectiveMonth") | date:'MMM yyyy'}} 
          <span class="item-note" ng-if="dues.get('maintType')=='FIXED'">{{dues.get("maintDues")  | formatCurrency}}</span>
          <span class="item-note" ng-if="dues.get('maintType')=='VARIABLE'">Variable</span>
          <ion-option-button class="button-info button-assertive" ng-click="deleteMaintenanceFeeAudit($index)">Delete</ion-option-button>  
        </ion-item>            
      </ion-list>
    </div>         -->

  </ion-content>
</ion-view>
 