<ion-view view-title="Edit Expense Detail">
  <ion-content class="visible-cards">
    <div class="card">
      <label class="item item-input">
        <span class="input-label">Paid To</span>
        <input type="text" name="paidTo" ng-model="editExpense.paidTo">
      </label>    
      <label class="item item-input">
        <span class="input-label">Expense Amount</span>
        <input type="number" name="expenseAmount"  ng-model="editExpense.expenseAmount">
      </label>
      <label class="item item-input">
        <span class="input-label">Expense Date</span>
        <input type="date" name="expenseDate"  ng-model="editExpense.expenseDate">
      </label>            
        <label class="item item-input">
          <textarea placeholder="Reason for expense..." rows="5" ng-model="editExpense.reason"></textarea>
        </label>      
      <div class="row">
        <div class="col">
          <a class="button button-block button-assertive button-small" ng-click="cancel()">Cancel</a>  
        </div>
        <div class="col">
          <a class="button button-block button-calm  button-small" ng-click="save()">Update Expense</a>  
        </div>          
      </div>
  </ion-content>
</ion-view>
 