<ion-view view-title="Edit Revenue Detail">
  <my-app-message info="controllerMessage"></my-app-message>
  <ion-content class="visible-cards">
    <div class="card">
      <ion-toggle class="toggle-assertive" ng-model="editRevenueRecord.category">
        Maintenance Payment
      </ion-toggle>          
      <label class="item item-input item-select" ng-if="editRevenueRecord.category && availableHomes">
          <div class="input-label">Home Number</div>
          <select ng-model="editRevenueRecord.home" ng-options="availableHome.label for availableHome in availableHomes"></select>
      </label>          
      <label class="item item-input" ng-if="editRevenueRecord.category && !availableHomes">
        <span class="input-label">Home Number </span>
        <input type="text" name="homeNo" ng-model="editRevenueRecord.homeNo">
      </label>              
      <label class="item item-input" ng-if="!editRevenueRecord.category">
        <span class="input-label">Revenue Source</span>
        <input type="text" name="revenueSource" ng-model="editRevenueRecord.revenueSource">
      </label>
      <label class="item item-input">
        <span class="input-label">Revenue Amount</span>
        <input type="number" name="revenueAmount" step="any" ng-model="editRevenueRecord.revenueAmount">
      </label>                   
      <label class="item item-input">
        <span class="input-label">Revenue Date</span>
        <input type="date" name="revenueDate" ng-model="editRevenueRecord.revenueDate">
      </label>
        <label class="item item-input">
          <textarea placeholder="Revenue notes..." rows="5" ng-model="editRevenueRecord.note"></textarea>
        </label>      
      <div class="row">
        <div class="col">
          <a class="button button-block button-assertive button-outline" ng-click="cancel()">Cancel</a>  
        </div>
        <div class="col">
          <a class="button button-block button-calm" ng-click="save()">Update Revenue</a>  
        </div>          
      </div>

  </ion-content>
</ion-view>
 