<ion-view title="Expenses">
  <ion-content>
    <my-app-message info="appMessage"></my-app-message>
    <my-app-message info="controllerMessage"></my-app-message>
    <!-- style="margin: auto; width: 60%; padding: 10px;" -->
<!--     <div style="width: 100%; padding: 10px;">
    	<canvas id="expChart" width="300" height="300" style="display: block; margin-left: auto; margin-right: auto;"></canvas>
    </div> -->
      <ion-list>
        <ion-item class="item-icon-right" ng-repeat="expense in expenseList" href="#/tab/expense-detail/{{expense.id}}">
          <span ng-if="expense.get('expenseCategory')=='Other'">{{expense.get("paidTo")}} </span>
          <span ng-if="expense.get('expenseCategory')!='Other'">{{expense.get("expenseCategory")}} </span>
          <span class="item-note">{{expense.get("expenseAmount") | number:2 | ourcurrency}}</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
      <div class="padding" ng-if="isAdmin">
        <a class="button button-balanced button-block" href="#/tab/manage-expense/{{focusBalanceSheet.id}}">
          Add Expense
        </a>
      </div>      
  </ion-content>
</ion-view>
