<ion-view view-title="Expense Detail">
  <ion-content class="visible-cards">
  <my-app-message info="appMessage"></my-app-message>
  <my-app-message info="controllerMessage"></my-app-message>
    <div class="card">
      <div class="item">Expense ID<span class="item-note">{{expenseRecord.id}}</span></div>
      <div class="item">Expense Date<span class="item-note">{{expenseRecord.get("expenseDate") | date:'mediumDate'}}</span></div>
      <div class="item">Expense Amount<span class="item-note">{{expenseRecord.get("expenseAmount") | number:2 | ourcurrency}}</span></div> 
      <div class="item"  ng-if="expenseRecord.get('expenseCategory')=='Other'">
        Paid To<span class="item-note">{{expenseRecord.get("paidTo")}}</span>
      </div>
      <div class="item"  ng-if="expenseRecord.get('expenseCategory')!='Other'">
        Paid For<span class="item-note">{{expenseRecord.get("expenseCategory")}}</span>
      </div>
    </div>  
    <div class="card" ng-if="expenseRecord.get('reason')">
      <div class="item item-divider item-energized">Notes</div>        
      <div class="item item-text-wrap">
        <p ng-bind-html="expenseRecord.get('reason') | nl2br">
      </div>
    </div>

    <div class="card" ng-if="expenseRecord.get('images').length>0">
      <div class="item item-divider item-royal">Receipts</div>        
      <div class="item">
        <ion-slide-box>          
          <ion-slide ng-repeat="image in expenseRecord.get('images')" ng-init="imageIndex = $index">
            <img class="full-image" ng-src="{{image}}" ng-click="showExpenseReceipt(imageIndex)">        
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>    

    <div class="row" ng-if="isAdmin">    
      <div class="col">
        <button class="button button-balanced button-small button-block" ng-click="attachPicture()">
          Attach Receipt
        </button>          
      </div>
      <div class="col">
      <button class="button button-calm button-small button-block" ng-click="editExpense()">
        Edit
      </button>      
      </div>
      <div class="col">
      <button class="button button-small button-assertive button-block" ng-click="deleteExpense()">
        Delete
      </button>                  
      </div>            


    </div>

<!--     <div class="padding" ng-if="isAdmin">
      <button class="button button-balanced button-block" ng-click="attachPicture()">
        Attach Receipt
      </button>    
      <button class="button button-calm button-block" ng-click="editExpense()">
        Edit Expense
      </button>
      <button class="button button-block button-assertive" ng-click="deleteExpense()">
        Delete Expense
      </button>            
    </div> -->
  </ion-content>
</ion-view>
 