<ion-view view-title="Expense Detail">
  <ion-content class="visible-cards">
  <div class="card padding warn" ng-if="expenseErrorMessage">
    {{expenseErrorMessage}}
  </div>
  <my-app-message info="appMessage"></my-app-message>
  <my-app-message info="controllerMessage"></my-app-message>
    <div class="card">
      <div class="item">Expense ID<span class="item-note">{{expenseRecord.id}}</span></div>
      <div class="item">Expense Date<span class="item-note">{{expenseRecord.get("expenseDate") | date:'MMM yyyy'}}</span></div>
      <div class="item">Expense Amount<span class="item-note">{{expenseRecord.get("expenseAmount")}}</span></div>
      <div class="item">Paid To<span class="item-note">{{expenseRecord.get("expenseAmount")}}</span></div>
      <div class="item item-divider">Notes</div>
      <div class="item item-text-wrap">{{expenseRecord.get("reason")}}</div>
      <!-- <div class="item item-divider">Receipt</div>
      <img class="full-image" ng-src="http://i.imgur.com/eZtsvgE.jpg"> -->
  </ion-content>
  <button class="button button-calm button-block" ng-click="editExpense()">
    Edit
  </button>
  <button class="button button-block button-assertive" ng-click="deleteExpense()">
    Delete
  </button>
</ion-view>
 