<ion-view view-title="Expense Detail">
  <ion-content class="visible-cards">
  <my-app-message info="appMessage"></my-app-message>
  <my-app-message info="controllerMessage"></my-app-message>
    <div class="card">
      <div class="item">Expense ID<span class="item-note">123456</span></div>
      <div class="item">Expense Date<span class="item-note">19 Jan 2016</span></div>
      <div class="item">Expense Amount<span class="item-note">Rs 3000.00</span></div>
      <div class="item">Paid To<span class="item-note">Water Services</span></div>
      <div class="item item-divider">Notes</div>
      <div class="item item-text-wrap">I have paid this to watch man. Got some notification as well.</div>
      <div class="item item-divider">Receipt</div>
      <img class="full-image" ng-src="http://i.imgur.com/eZtsvgE.jpg">
    </div>
  </ion-content>
</ion-view>
 