<ion-view view-title="How to pay?">
  <ion-content class="visible-cards">
  <my-app-message info="appMessage"></my-app-message>
  <my-app-message info="controllerMessage"></my-app-message>
    <div class="card padding">
      <h4>
        Instructions to pay your association dues :
      </h4>
      <div>
        <ul class="bullet-list padding">
            <li>Handover the payment to watchman.</li>
            <li style="margin: 10px 0px;">Treasurer will collect your payment from watchman and mark your dues as paid.</li>         
            <li>You will receive confirmation notification once your payment has been entered in ledger.</li>
        </ul>   
      </div>    
    </div>
  </ion-content>
</ion-view>
 