<ion-view view-title="Maintenance Fee">
	<ion-content>			
		<my-app-message info="controllerMessage"></my-app-message>		
		<div class="list">		
			<ion-item class="item-icon-right item-text-wrap" ng-click="openChoiceModalOfMaintType()">
				<i class="icon ion-chevron-right icon-accessory" style="color: #11c1f3;"></i>
				Maintenance Fee Structure<p>{{maintTypeList[input.maintTypeIndex].label}}</p>
			</ion-item>		
			<label class="item item-input">
				<span class="input-label">Effective Month</span>
				<input type="month" name="effectiveMonth"  ng-model="input.effectiveMonth">
			</label>						
			<label class="item item-input item-stacked-label" ng-if="input.maintTypeIndex==0">
				<span class="input-label">Maintenance Fee</span>
				<input type="text" name="maintenanceDues" ng-model="input.maintDues" class="textAlignLeft">
			</label>

			<div ng-if="input.maintTypeIndex==1">
				<ion-item class="item-divider item-icon-right">
					Categories		  	
					<a ng-click="manageDueCategory(-1)"><i class="icon ion-ios-plus-outline positive"></i></a>
				</ion-item>			
				<ion-item class="item-icon-right item-text-wrap" ng-click="manageDueCategory($index)" ng-repeat="category in input.maintCategories">
					<i class="icon ion-chevron-right icon-accessory" style="color: #11c1f3;"></i>
					{{category.name}}
					<span class="item-note" ng-if="category.variableType==0">&nbsp;/ Sq Ft</span>					
					<span class="item-note" ng-if="category.variableType==1">&nbsp;/ Bed Room</span>								
					<span class="item-note">{{category.fee  | formatCurrency}}</span>
				</ion-item>		
			</div>
			<label class="item item-input">
				<textarea placeholder="Notes..." rows="5" ng-model="input.notes"></textarea>
			</label>									
			<div class="row">
				<div class="col">
					<a class="button button-block" ng-click="cancel()">Cancel</a>	
				</div>
				<div class="col">
					<a class="button button-block button-calm" ng-click="updateDues()">{{duesAction}}</a>	
				</div>					
			</div>
		</div>
	</ion-content>
</ion-view>


