<ion-view view-title="Manage Reserves">
	<ion-content>			
		<my-app-message info="controllerMessage"></my-app-message>
		<div class="list">		
			<label class="item item-input item-stacked-label">
				<span class="input-label">What is total reserve amount?</span>
				<input type="number" name="reserveAmount" step="0.1" ng-model="input.reserveAmount" class="textAlignLeft">
			</label>
			<label class="item item-input">
				<span class="input-label">Effective Month</span>
				<input type="month" name="effectiveMonth"  ng-model="input.effectiveMonth">
			</label>		
			  <label class="item item-input">
			    <textarea placeholder="Notes..." rows="5" ng-model="input.notes"></textarea>
			  </label>																
			<div class="row">
				<div class="col">
					<a class="button button-block button-assertive" href="#/tab/reserves-detail">Cancel</a>	
				</div>
				<div class="col">
					<a class="button button-block button-calm" ng-click="updateReserve()">Update Reserve</a>	
				</div>					
			</div>
		</div>
	</ion-content>
</ion-view>


