<ion-view view-title="Add Revenue">
	<ion-content>			
		<my-app-message info="controllerMessage"></my-app-message>
		<div class="list">		
	        <ion-toggle class="toggle-assertive" ng-model="input.category">
	          Maintenance Payment
	        </ion-toggle>          
			<label class="item item-input item-select" ng-if="input.category && availableHomes">
			    <div class="input-label">Home Number</div>
			    <select ng-model="input.home" ng-options="availableHome.label for availableHome in availableHomes"></select>
			</label>					
			<label class="item item-input" ng-if="input.category && !availableHomes">
				<span class="input-label">Home Number </span>
				<input type="text" name="homeNo" ng-model="input.homeNo">
			</label>			        
			<label class="item item-input" ng-if="!input.category">
				<span class="input-label">Revenue Source</span>
				<input type="text" name="revenueSource" ng-model="input.revenueSource">
			</label>			        
			<label class="item item-input">
				<span class="input-label">Revenue Amount</span>
				<input type="number" name="revenueAmount" step="any" ng-model="input.revenueAmount">
			</label>
			<label class="item item-input">
				<span class="input-label">Revenue Date</span>
				<input type="date" name="revenueDate"  ng-model="input.revenueDate">
			</label>						
			  <label class="item item-input">
			    <textarea placeholder="Notes..." rows="5" ng-model="input.note"></textarea>
			  </label>			
			  <div class="padding">
					<a class="button button-block button-balanced" ng-click="addRevenue()" ng-if="editRevenueRecord">Accept Payment</a>	
					<a class="button button-block button-balanced" ng-click="addRevenue()" ng-if="!editRevenueRecord">Add Revenue</a>			
					<a class="button button-block button-calm" ng-click="editPayment()" ng-if="editRevenueRecord">Adjust Amount</a>				  
					<a class="button button-block button-assertive" ng-click="deletePayment()" ng-if="editRevenueRecord">Delete Payment</a>	
					<a class="button button-block button-assertive button-outline" ng-click="deletePayment()">Never mind</
			  </div>
		</div>
	</ion-content>
</ion-view>


