<ion-view view-title="Add Expense">
	<ion-content>			
		<my-app-message info="controllerMessage"></my-app-message>
		<div class="list">		
<!-- 			<label class="item item-input item-select">
			    <div class="input-label">Expense Category</div>
			    <select ng-model="input.category" ng-options="availableCategory.label for availableCategory in availableCategories"></select>
			  </label>					 -->
	      <ion-item class="item-icon-right" ng-click="openChoiceModalOfExpenseCategories()">
	        <i class="icon ion-chevron-right icon-accessory" style="color: #11c1f3;"></i>
	        Expense Category<span class="item-note">{{input.category.label}}</span>
	      </ion-item>			  
			<label class="item item-input" ng-if="input.category.value=='Other'">
				<span class="input-label">Paid To</span>
				<input type="text" name="paidTo" ng-model="input.paidTo">
			</label>		
			<label class="item item-input">
				<span class="input-label">Expense Amount</span>
				<input type="number" name="expenseAmount" step="any" ng-model="input.expenseAmount">
			</label>
			<label class="item item-input">
				<span class="input-label">Expense Date</span>
				<input type="date" name="expenseDate"  ng-model="input.expenseDate">
			</label>						
			<div class="item item-divider">Expense Notes</div>        
			<label class="item item-input">
				<textarea placeholder="Type in expense notes..." rows="5" ng-model="input.reason"></textarea>
			</label>			
<!-- 	      <div class="item item-divider">Attach Receipt</div>        
	      <div class="item">
	           <img class="full-image" ng-src="img/picture_template.png" ng-click="showExpenseReceipt(imageIndex)">        
	      </div>			 -->
			<div class="row">
				<div class="col">
					<a class="button button-block button-outline" ng-click="cancel()">Cancel</a>	
				</div>
				<div class="col">
					<a class="button button-block button-calm" ng-click="addExpense()">Add Expense</a>	
				</div>					
			</div>
		</div>
	</ion-content>
</ion-view>


