<ion-view view-title="Payment Detail">
  <ion-content class="visible-cards">
  <my-app-message info="appMessage"></my-app-message>
  <my-app-message info="controllerMessage"></my-app-message>
    <div class="card">
      <div class="item">Revenue ID<span class="item-note">{{revenueRecord.id}}</span></div>
      <div class="item">Revenue Date
        <span class="item-note">{{revenueRecord.get("revenueDate") | date:'mediumDate'}}</span>
      </div>
      <div class="item">Revenue Amount
        <span class="item-note">{{revenueRecord.get("revenueAmount") | formatCurrency}}</span>
      </div>      
      <div class="item">Status
        <span class="item-note balanced" ng-if="revenueRecord.get('status')=='COMPLETED'">Paid</span>
        <span class="item-note assertive" ng-if="revenueRecord.get('status')=='PENDING'">Unpaid</span>
      </div>                    
      <!-- <div class="item">Category<span class="item-note">{{revenueRecord.id}}</span></div> -->
      <div class="item">Source
        <span class="item-note">{{revenueRecord.get("revenueSource")}}</span>
      </div>    
    </div>      
    <div class="card" ng-if="revenueRecord.get('note')">
      <div class="item item-divider item-energized">Notes</div>        
      <div class="item item-text-wrap">
        <p ng-bind-html="revenueRecord.get('note') | nl2br"></p>          
      </div>
    </div>    
  </ion-content>
</ion-view>
 