<ion-view view-title="Payment Detail">
  <ion-content class="visible-cards">
  <my-app-message info="appMessage"></my-app-message>
  <my-app-message info="controllerMessage"></my-app-message>
    <div class="card">
      <div class="item">Payment ID<span class="item-note">123456</span></div>
      <div class="item">Payment Date<span class="item-note">19 Jan 2016</span></div>
      <div class="item">Payment Amount<span class="item-note">Rs 3000.00</span></div>      
      <div class="item">Category<span class="item-note">Member Dues</span></div>
      <div class="item">Source<span class="item-note">G1</span></div>      
      <div class="item">Status<span class="item-note">Paid</span></div>
      <div class="item item-divider">Notes</div>
      <div class="item item-text-wrap">I have paid this to watch man. Got some notification as well.</div>
    </div>
  </ion-content>
</ion-view>
 