<ion-view view-title="Payment Detail">
  <ion-content class="visible-cards">
  <my-app-message info="appMessage"></my-app-message>
  <my-app-message info="controllerMessage"></my-app-message>
    <div class="card">
      <div class="item">Revenue ID<span class="item-note">{{revenueRecord.id}}</span></div>
      <div class="item">Revenue Date<span class="item-note">{{revenueRecord.get("revenueDate") | date:'MMM yyyy'}}</span></div>
      <div class="item">Revenue Amount<span class="item-note">{{revenueRecord.get("revenueAmount")}}</span></div>      
      <!-- <div class="item">Category<span class="item-note">{{revenueRecord.id}}</span></div> -->
      <div class="item">Source<span class="item-note">{{revenueRecord.get("revenueSource")}}</span></div>      
      <!-- <div class="item">Status<span class="item-note">{{revenueRecord.id}}</span></div> -->
      <div class="item item-divider">Notes</div>
      <div class="item item-text-wrap">{{revenueRecord.get("note")}}</div>
    </div>
    <button class="button button-calm button-block" ng-click="editRevenue()">
      Edit
    </button>
    <button class="button button-block button-assertive" ng-click="deleteRevenue()">
      Delete
    </button>
  </ion-content>

</ion-view>
 