<ion-view view-title="Reserves">
  <ion-content class="visible-cards">
  <my-app-message info="appMessage"></my-app-message>
  <my-app-message info="controllerMessage"></my-app-message>
    <div class="card">
      <div class="row">
        <div class="col" style="text-align: center;">
          <h4>Reserve Fund</h4>
          <h2 class="royal" ng-if="currentReserve">
            {{currentReserve.reserveAmount | number:2 | ourcurrency}}&nbsp;
            <i class="icon ion-arrow-up-a balanced" ng-if="currentReserve.progress=='UP'"></i>
            <i class="icon ion-arrow-down-a assertive" ng-if="currentReserve.progress=='DOWN'"></i>
          </h2>
          <h2 class="royal" ng-if="!currentReserve">
            NA
          </h2>          
        </div>
      </div>     
      <div class="padding" ng-if="isAdmin">
        <a class="button button-calm button-block" href="#/tab/manage-reserves">
          Update Reserve
        </a>
      </div>      
    </div>    
<!--     <h4>&nbsp;&nbsp;&nbsp;&nbsp;Settings</h4> -->
    <div class="card" ng-if="reserveAuditList.length>0">
      <div class="item item-divider item-energized">Reserve History</div>      
      <ion-list can-swipe="true">
        <ion-item ng-repeat="reserveAudit in reserveAuditList">
          {{reserveAudit.get("effectiveMonth") | date:'MMM yyyy'}} <span class="item-note">{{reserveAudit.get("reserveAmount")  | number:2 | ourcurrency}}</span>
          <ion-option-button class="button-info button-assertive" ng-click="deleteReserveAudit($index)">Delete</ion-option-button>  
        </ion-item>            
      </ion-list>     
    </div>        

  </ion-content>
</ion-view>
 