<ion-view view-title="Revenue">
  <ion-nav-buttons side="primary" ng-if="isAdmin">
    <a class="button button-icon icon ion-android-add-circle" href="#/tab/manage-revenue/{{focusMonth.getTime()}}"></a>
  </ion-nav-buttons>
  <ion-content class="visible-cards">
    <my-app-message info="appMessage"></my-app-message>
    <my-app-message info="controllerMessage"></my-app-message>

    <div class="card" ng-if="!controllerMessage && homeOwnerPaymentRevenueList.length>0">
      <ion-list>
        <ion-item class="item-divider item-energized">Home Owner Payments</ion-item>
        <ion-item class="item-icon-right" ng-repeat="revenue in homeOwnerPaymentRevenueList" href="#/tab/payment-detail/{{revenue.id}}">
          {{revenue.get("homeNo")}} 
          <span class="item-note">{{revenue.get("revenueAmount") | number:2 | ourcurrency}}</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>      
    </div>

    <div class="card" ng-if="isAdmin && unpaidHomeOwnerList.length>0">
      <ion-list>
        <ion-item class="item-divider item-assertive">Pending Home Owner Payments</ion-item>
        <ion-item class="item-icon-right" ng-repeat="unpaidHomeOwner in unpaidHomeOwnerList" ng-click="goToManageRevenuePage(unpaidHomeOwner.value)">
          {{unpaidHomeOwner.label}} 
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>      
    </div>

    <div class="card"  ng-if="!controllerMessage && otherRevenueList.length>0">
      <ion-list>
        <ion-item class="item-divider item-energized">Other Revenue</ion-item>        
        <ion-item class="item-icon-right" ng-repeat="revenue in otherRevenueList" href="#/tab/payment-detail/{{revenue.id}}">
          {{revenue.get("revenueSource")}} 
          <span class="item-note">{{revenue.get("revenueAmount") | number:2 | ourcurrency}}</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>      
    </div>

    <div class="padding" ng-if="isAdmin">
      <a class="button button-balanced button-block" href="#/tab/manage-revenue/{{focusMonth.getTime()}}">
        Add Revenue Entry
      </a>      
    </div>      

  </ion-content>
</ion-view>
 