<ion-view view-title="Revenue">
  <ion-nav-buttons side="secondary">
    <a class="button button-light button-outline"  ng-if="isAdmin" style="border-color: #fff; color: #fff;" href="#/tab/manage-revenue/{{focusBalanceSheet.id}}">&nbsp;Add Revenue&nbsp;</a>      
  </ion-nav-buttons>
  <ion-content class="visible-cards">
    <my-app-message info="appMessage"></my-app-message>
    <my-app-message info="controllerMessage"></my-app-message>

    <div class="card" ng-if="homeOwnerPaymentList.length>0">
      <ion-list>
        <ion-item class="item-divider item-royal">Maintenance Dues</ion-item>
        <ion-item class="item-icon-left item-icon-right" ng-repeat="revenue in homeOwnerPaymentList"  ng-click="goTo($index)">
          <i class="icon ion-ios-checkmark-outline balanced" ng-if="revenue.get('status')=='COMPLETED'"></i>
<!--           <i class="icon ion-alert-circled assertive" ng-if="revenue.get('status')=='PENDING'"></i>                   -->
          <i class="icon ion-ios-information-outline assertive" ng-if="revenue.get('status')=='PENDING'"></i>                    
          Home # {{revenue.get("homeNo")}}           
          <span class="item-note">{{revenue.get("revenueAmount") | number:2 | ourcurrency}}</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>      
    </div>

    <div class="card"  ng-if="otherRevenueList.length>0">
      <ion-list>
        <ion-item class="item-divider item-energized">Other Revenue</ion-item>        
        <ion-item class="item-icon-right" ng-repeat="revenue in otherRevenueList" href="#/tab/revenue-detail/{{revenue.id}}">
          {{revenue.get("revenueSource")}} 
          <span class="item-note">{{revenue.get("revenueAmount") | number:2 | ourcurrency}}</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>      
    </div>

    <div class="padding" ng-if="isAdmin">
      <a class="button button-balanced button-block" href="#/tab/manage-revenue/{{focusBalanceSheet.id}}">
        Add Revenue Entry
      </a>      
    </div>      

  </ion-content>
</ion-view>
 