<ion-view view-title="Financial">
  <ion-content class="visible-cards">
  <my-app-message info="appMessage"></my-app-message>
  <my-app-message info="controllerMessage"></my-app-message>
    <div class="card">
      <div class="row">
        <div class="col" style="text-align: center;">
          <h4>Dues</h4>
          <h3 class="positive">3000.00</h3>
        </div>
        <div class="col" style="text-align: center;">
          <h4>Status</h4>
          <h3 class="balanced"><i class="icon ion-ios-checkmark balanced"></i>&nbsp;Paid</h3>
        </div>
      </div>
      <ion-item class="item-icon-right" href="#/tab/payment-history">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        My Payment History
      </ion-item>            
      <ion-item class="item-icon-right" href="#/tab/how-to-make-payment">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        How to pay dues?
      </ion-item>                  
    </div>    
<!--     <h4>&nbsp;&nbsp;&nbsp;&nbsp;Settings</h4> -->
    <div class="card">
      <div class="item item-divider">Community</div>
      <ion-item class="item-icon-right" href="#/tab/balance-sheet">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Balance Sheet
      </ion-item>                  
      <ion-item class="item-icon-right" href="#/tab/dues-list">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Maintenance Dues
        <span class="item-note">Rs 3000.00</span>
      </ion-item>      

<!--       <ion-item class="item-icon-right" href="#/tab/expense-list">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Expenses
      </ion-item>            
      <ion-item class="item-icon-right" href="#/tab/revenue-list">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Revenue 
      </ion-item>             -->
      <ion-item class="item-icon-right" href="#/tab/reserves-detail">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Reserve Fund
        <span class="item-note">Rs 150000.00</span>
      </ion-item>      
    </div>        

  </ion-content>
</ion-view>
 