<ion-view view-title="Financial">
  <ion-nav-buttons side="secondary">
    <a class="button button-icon icon ion-ios-help-outline" ng-click="showHelp()"></a>      
  </ion-nav-buttons>
  <ion-content class="visible-cards">
    <my-app-message info="appMessage"></my-app-message>
    <my-app-message info="controllerMessage"></my-app-message>
    <my-app-message info="ideaMessage" ng-if="isAdmin && !controllerMessage"></my-app-message>
    <div class="card">
      <div class="row">
        <div class="col" style="text-align: center;">
          <h4>Payment</h4>
          <h3 class="positive" ng-if="paymentAmount">{{paymentAmount  | formatCurrency}}</h3>
          <h3 class="positive" ng-if="!paymentAmount">NA</h3>          
<!--           <h3 class="positive" ng-if="!currentDues && isAdmin && !controllerMessage">
            <a class="button button-small button-block button-royal" href="#/tab/dues-list">Setup Dues</a>
          </h3> -->
        </div>
        <div class="col" style="text-align: center;">
          <h4>Status</h4>
          <h3 class="balanced" ng-if="paymentStatus=='Paid'"><i class="icon ion-ios-checkmark balanced"></i>&nbsp;{{paymentStatus}}</h3>
          <h3 class="assertive" ng-if="paymentStatus=='Unpaid'"><i class="icon ion-alert-circled assertive"></i>&nbsp;{{paymentStatus}}</h3>
          <h3 class="positive" ng-if="paymentStatus=='NA'">{{paymentStatus}}</h3>
        </div>
      </div>
      <ion-item class="item-icon-right" href="#/tab/payment-history" ng-if="regionSettings.financialMgmt=='SELF'"  id="my-payment-history">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        My Payment History
        <span class="badge badge-balanced">{{noOfPaymentsInHistory}}</span>
      </ion-item>            
      <ion-item class="item-icon-right" href="#/tab/how-to-make-payment">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        How to make payment?
      </ion-item>                  
    </div>    
<!--     <h4>&nbsp;&nbsp;&nbsp;&nbsp;Settings</h4> -->
    <div class="card">
      <div class="item item-divider">Community</div>
      <ion-item class="item-icon-right" href="#/tab/balance-sheet-list" ng-if="regionSettings.financialMgmt=='SELF'" id="manage-balance-sheet">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Balance Sheets
      </ion-item>                  
      <ion-item class="item-icon-right" href="#/tab/finview" ng-if="regionSettings.financialMgmt=='VOLUNTEER'">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Balance Sheets
      </ion-item>                  

<!--       <ion-item href="#/tab/finview/{{region.get('uniqueName')}}" class="item-icon-left item-icon-right">
          <i class="icon ion-card royal"></i>
          Financials 
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>                 -->

      <ion-item class="item-icon-right" href="#/tab/dues-list" id="setup-maint-fee">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Maintenance Fee
        <span class="item-note" ng-if="currentDues.get('maintType')=='FIXED'">{{currentDues.get('maintDues')  | formatCurrency}}</span>
        <span class="item-note" ng-if="currentDues.get('maintType')=='VARIABLE'">Variable</span>
        <span class="item-note assertive" ng-if="!currentDues && isAdmin">Setup</span>
      </ion-item>      

<!--       <ion-item class="item-icon-right" href="#/tab/expense-list">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Expenses
      </ion-item>            
      <ion-item class="item-icon-right" href="#/tab/revenue-list">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Revenue 
      </ion-item>             -->
      <ion-item class="item-icon-right" href="#/tab/reserves-detail" ng-if="regionSettings.reserveVisibility=='OPEN' || isAdmin">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Reserve Fund
        <span class="item-note">{{reserve | formatCurrency}}</span>
      </ion-item>      
    </div>       

<!-- <walkthrough
            id="Demo1"
            walkthrough-type="transparency"
            focus-element-selector="#{{accountsWalkthrough[accountsWalkthroughIndex].id}}"
            icon="single_tap"
            main-caption="{{accountsWalkthrough[accountsWalkthroughIndex].text}}"
            icon-padding-left="30"
            icon-padding-top="0"
            force-caption-location="TOP"
            is-active="accountsWalkthrough[accountsWalkthroughIndex].active"
            on-walkthrough-hide="nextAccountsWalkthrough()"
            use-button="false"
            is-round="false"
            has-backdrop="false"
            has-glow="false">
      </walkthrough>   
 -->
    <walkthrough
            id="Demo1"
            walkthrough-type="transparency"
            focus-element-selector="#{{accountsWalkthrough[0].id}}"
            icon="single_tap"
            main-caption="{{accountsWalkthrough[0].text}}"
            icon-padding-left="30"
            icon-padding-top="0"
            force-caption-location="TOP"
            is-active="accountsWalkthrough[0].active"
            on-walkthrough-hide="nextAccountsWalkthrough()"
            use-button="false">
      </walkthrough>      
    <walkthrough
            id="Demo2"
            walkthrough-type="transparency"
            focus-element-selector="#{{accountsWalkthrough[1].id}}"
            icon="single_tap"
            main-caption="{{accountsWalkthrough[1].text}}"
            icon-padding-left="30"
            icon-padding-top="0"
            force-caption-location="TOP"
            is-active="accountsWalkthrough[1].active"
            on-walkthrough-hide="nextAccountsWalkthrough()"
            is-round="false"
            use-button="false">
      </walkthrough>
    <walkthrough
            id="Demo3"
            walkthrough-type="transparency"
            focus-element-selector="#{{accountsWalkthrough[2].id}}"
            main-caption="{{accountsWalkthrough[2].text}}"
            icon-padding-left="30"
            icon-padding-top="0"
            force-caption-location="TOP"
            is-active="accountsWalkthrough[2].active"
            on-walkthrough-hide="nextAccountsWalkthrough()"
            use-button="true">
      </walkthrough>            
  </ion-content>
</ion-view>
 