<ion-item class="item-thumbnail-left item-icon-right" href="#/tab/neighbor-detail/{{resident.get('user').id}}">
	<img ng-src="{{resident.get('user').get('images')[0]}}" ng-if="resident.get('user').get('images')">
	<img ng-src="img/avatar2.png" ng-if="!resident.get('user').get('images')">
	<h2>{{resident.get('user').get("firstName")}} {{resident.get('user').get("lastName")}}</h2>		
	<p>{{resident.get('user').get("phoneNum")}}</p>      	      	      	      	
<!-- 	<p ng-if="resident.get('homeOwner')==true">Home Owner</p>      	      	      	      
	<p ng-if="resident.get('homeOwner')==false">Tenant</p>      	      	      	      	       -->
	<p ng-if="resident.get('user').get('status')=='P'">
		<span class="assertive">Pending Invitation</span>
	</p>
	<p ng-if="resident.get('user').get('status')!='P'">
		<span>Accepted Invitation</span>
	</p>
	<p ng-if="resident.get('user').get('bloodGroup')">
		<span class="custom-badge">{{resident.get('user').get("bloodGroup")}}</span>
	</p>      
	<i class="icon ion-chevron-right icon-accessory"></i>	      	      	      	      
</ion-item>	    