<ion-view title="Add Executive Offices &amp; Contacts">
	<ion-content>
		<div class="padding card assertive" ng-if="officeErrorMessage">
			{{officeErrorMessage}}
		</div>
		<ion-list>
   		<label class="item item-input" >
				<span class="input-label">
				      Office Name 
				</span>
			<input type="text" name="offName"  ng-model="newOfficeObj.officeName">
		</label>
		<label class="item item-input" >
				<span class="input-label">
				      Address Line 1
				</span>
			<input type="text" name="addr1"  ng-model="newOfficeObj.addressLine1">
		</label>
		<label class="item item-input" >
				<span class="input-label">
				      Address Line 2
				</span>
			<input type="text" name="addr2"  ng-model="newOfficeObj.addressLine2">
		</label>
    <label class="item item-input" >
        <span class="input-label"> 
        	Landmark
        </span>
      <input type="text" name="landmark"  ng-model="newOfficeObj.landmark">
    </label>
    <label class="item item-input" >
        <span class="input-label">
              Phone numbers
        </span>
      <input type="text" name="phoneNums"  ng-model="phoneNums.officeNum" >

    </label>
  	<label class="item item-input">
        <span class="input-label">
            Exec Admin Title
        </span>
        <input type="text" name="adminTitle" ng-model="newExecAdminObj.title" >
        </label>
        <label class="item item-input">
        <span class="input-label">
                Exec Admin Name
          </span>
        <input type="text" name="adminName" ng-model="newExecAdminObj.name" >
        </label>
        <label class="item item-input">
        <span class="input-label">
                Exec Admin Phone 
         </span>
         <input type="text" name="adminPhoneList" ng-model="phoneNums.execNum" >
    </label>
  </ion-list>
    <div class="padding" >
        <button class="button button-block button-balanced" ng-click="submit()">Submit</button>
     </div>
     <div class="padding" >
        <button class="button button-block button-assertive" ng-click="cancel()">Cancel</button>
    </div>   
 </ion-content>
</ion-view>