<ion-view view-title="Edit Demograph Details">
  <ion-content>
   		<label class="item item-input" >
				<span class="input-label">
				      Area 
				</span>
			<input type="text" ng-model="newDemoObj.area">
		</label>
		<label class="item item-input" >
				<span class="input-label">
				      Population
				</span>
			<input type="text" ng-model="newDemoObj.population">
		</label>
    <label class="item item-input" >
        <span class="input-label">
              Established
        </span>
      <input type="text" ng-model="newDemoObj.est">
    </label>
    <label class="item item-input" >
        <span class="input-label">
              Postal codes
        </span>
      <input type="text" ng-model="newDemoObj.pinCodes" >
    </label>
		<label class="item item-input" >
				<span class="input-label">
				      History
				</span>	
		</label>
		<label class="item item-input" >
			<textarea placeholder="Type in region history" rows="5" ng-model="newDemoObj.history"></textarea>
		</label>
		<div class="padding" >
        	<button class="button button-block button-balanced" ng-click="submit()">Submit</button>
     	</div>
     	<div class="padding" >
        	<button class="button button-block button-assertive" ng-click="cancel()">Cancel</button>
     	</div>
	   </div>
  </ion-content>
 </ion-view>