<ion-view view-title="Edit Demograph">
  <ion-content>
   		<label class="item item-input" >
				<span class="input-label">
				      Area 
				</span>
			<input type="text" ng-model="newDemoObj.area">
		</label>
		<label class="item item-input" >
				<span class="input-label">
				      {{'Population' | translate}} 
				</span>
			<input type="text" ng-model="newDemoObj.population">
		</label>
    <label class="item item-input" >
        <span class="input-label">
              Established
        </span>
      <input type="text" ng-model="newDemoObj.est">
    </label>
    <label class="item item-input" >
        <span class="input-label">
			{{'PostalCode' | translate}}
        </span>
      <input type="text" ng-model="newDemoObj.pinCodes" >
    </label>
    	<div class="item item-divider">History</div>
		<label class="item item-input" >
			<textarea placeholder="Type in region history" rows="5" ng-model="newDemoObj.history"></textarea>
		</label>
		<div class="padding-horizontal" >
        	<button class="button button-block button-balanced" ng-click="submit()">Submit</button>
     	</div>
     	<div class="padding-horizontal" >
        	<button class="button button-block button-assertive" ng-click="cancel()">Cancel</button>
     	</div>
	   </div>
  </ion-content>
 </ion-view>