<ion-view>
  <ion-nav-title>
    {{region.get("name")}}
  </ion-nav-title>
  <ion-content>
    <my-app-message info="appMessage"></my-app-message>
    <my-app-message info="controllerMessage"></my-app-message>
    <ion-list ng-if="!controllerMessage">
      <div class="item item-image">
        <img ng-src="{{region.get('thumbnail')}}">
      </div> 
      <ion-item href="#/tab/neighbors" class="item-icon-left item-icon-right" ng-if="!regionSettigns.neighborPrivacy || isAdmin">
          <i class="icon ion-ios-people-outline royal"></i>
          Neighbors 
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>          
      <ion-item class="item-icon-right" href="#/tab/invite-citizen"  ng-if="regionSettigns.neighborPrivacy && !isAdmin">
        <i class="icon ion-ios-people-outline royal"></i>
        {{'InvitePage' | translate}}        
        <i class="icon ion-chevron-right icon-accessory"></i>                                   
      </ion-item>                        
      <ion-item href="#/tab/legis/{{region.get('uniqueName')}}" class="item-icon-left item-icon-right" ng-if="regionSettings.legislativeMgmt!='SELF'">
        <i class="icon ion-ios-person-outline royal"></i>
          {{'LegContact' | translate}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>      
      <ion-item href="#/tab/selflegis/{{region.get('uniqueName')}}" class="item-icon-left item-icon-right" ng-if="regionSettings.legislativeMgmt=='SELF'">
        <i class="icon ion-ios-person-outline royal"></i>
          {{'LegContact' | translate}}      
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item href="#/tab/service/{{region.get('uniqueName')}}" class="item-icon-left item-icon-right" ng-if="regionSettings.serviceContacts=='SELF'">
        <i class="icon ion-ios-flame-outline royal"></i>
          Service Contacts
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>                  
      <ion-item href="#/tab/offices/{{region.get('uniqueName')}}" class="item-icon-left item-icon-right">
        <i class="icon ion-ios-book-outline royal"></i>            
          {{'ExecContact' | translate}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>      
<!--       <ion-item href="#/tab/demo/{{region.get('uniqueName')}}" class="item-icon-left item-icon-right">
        <i class="icon ion-ios-world-outline royal"></i>      
          Demography
          <i class="icon ion-chevron-right icon-accessory"></i>    
      </ion-item>       -->
      <ion-item href="#/tab/region-settings/{{region.get('uniqueName')}}" class="item-icon-left item-icon-right" ng-if="isAdmin">
        <i class="icon ion-ios-gear-outline royal"></i>      
          Settings
          <i class="icon ion-chevron-right icon-accessory"></i>    
      </ion-item>                                    
  	</ion-list>
  </ion-content>
</ion-view>