<ion-view view-title="Settings">
  <ion-nav-buttons side="secondary">
    <a class="button button-light button-outline"  ng-if="settingsChanged" style="border-color: #fff; color: #fff;" ng-click="saveSettings()">Save</a>      
  </ion-nav-buttons>
  <ion-content class="visible-cards">
    <my-app-message info="controllerMessage"></my-app-message>
    <div class="card">
      <ion-toggle ng-model="inputSettings.activityModeration" ng-change="notifySettingChanged()">
          Activity Moderation
          <p>Enable board to review the posts</p>
      </ion-toggle>          
      <ion-toggle ng-model="inputSettings.reserveVisibility" ng-change="notifySettingChanged()">
          Show reserves to everyone
      </ion-toggle>                
      <ion-toggle ng-model="inputSettings.residencesVisibility" ng-change="notifySettingChanged()">
          Show residences to everyone
      </ion-toggle>                      
      <ion-toggle ng-model="inputSettings.serviceContactsVisibility" ng-change="notifySettingChanged()">
          Share service contacts
      </ion-toggle>                            
      <ion-toggle ng-model="inputSettings.allCanControlServiceContacts" ng-change="notifySettingChanged()">
          Residents can control service contacts
      </ion-toggle>                            
      <ion-item class="item-icon-right" ng-click="updateCoverPhoto()" >
          Update Community Picture 
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>                            
      <ion-item class="item-icon-right" ng-click="updateFinancialManagers()">
          Financial Access Controls
          <p>{{whoControlFinancial}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>                            
      <ion-item class="item-icon-right" ng-click="updateSettingsManagers()">
          Settings Access Controls
          <p>{{whoControlSettings}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>                                  
    </div>        
  </ion-content>
</ion-view>
 