<ion-view title="Legislature">
  <ion-nav-buttons side="secondary" >
      <a class="button" href="#/tab/addlegis/{{region.get('uniqueName')}}" ng-show="canUpdateRegion">
      	<i class="icon ion-plus"></i>
      </a>
  </ion-nav-buttons>
  <ion-content>
  	<div ng-show="region.get('legiRepList').length==0" class="card padding assertive">Legislature representative list not available for {{region.get("name")}}</div>    
    <div class="card" ng-repeat="legi in region.get('legiRepList')">
	  <div class="item item-divider item-icon-right">
	  	<a ng-click="openLegisPopover($event, legi.title)" ng-if="canUpdateRegion"><i class="icon ion-navicon royal"></i></a>
	    {{legi.title}}
	  </div>
	  <div class="item item-text-wrap">
	  	<h2>{{legi.name}}</h2>
	    <div>
	    	<div ng-if="legi.addressLine1">{{legi.addressLine1}}</div>
	    	<div ng-if="legi.addressLine2">{{legi.addressLine2}}</div>
	    	<div ng-if="legi.landmark">{{legi.landmark}}</div>
	    </div>
	    <p ng-if="legi.phoneNumberList">
		    <i class="icon ion-iphone"></i>
		    <span ng-repeat="phNo in legi.phoneNumberList">
<!-- 		    	<a href="tel:{{phNo}}">{{phNo}} </a> -->
		    	{{phNo}} {{$last ? '' : ', '}}
		    </span>
	    </p>
	  </div>
	</div>
  </ion-content>
</ion-view>