<ion-view title="Financials">
  <ion-nav-buttons side="secondary" >
      <a class="button" href="#/tab/addfinview/{{uniqueName}}" ng-show="canUpdateRegion">
        <i class="icon ion-plus"></i>
      </a>
  </ion-nav-buttons>
  <ion-content>
    <div ng-show="finOverviewErrorMessage" class="card padding warn">{{finOverviewErrorMessage}}</div>    
<!--     <div class="item item-divider">Arrivare</div> -->
    <ion-list ng-repeat="financial  in financials">
      <div class="item item-divider item-icon-right">
        <a ng-click="openFinancialPopover($event, $index, financial.id)" ng-if="canUpdateRegion"><i class="icon ion-navicon royal"></i></a>
         {{financial.get("year")}} - {{financial.get("regionDisplayName")}}
       </div>
      <ion-item href="#/tab/findet/{{financial.get('regionUniqueName')}}/{{financial.get('year')}}/revenue" class="item-icon-right">
          Revenue <span class="item-note">{{'Currency' | translate}} {{financial.get("revenue")}}</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>                
      <ion-item href="#/tab/findet/{{financial.get('regionUniqueName')}}/{{financial.get('year')}}/expenses" class="item-icon-right">
          Expenses <span class="item-note">{{'Currency' | translate}} {{financial.get("expenses")}}</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>                
      <ion-item ng-if="financial.get('reserve')">
          Reserves <span class="item-note">{{'Currency' | translate}} {{financial.get("reserve")}}</span>
      </ion-item>    
      <ion-item ng-if="financial.get('defecit')">
          Defecit <span class="item-note">{{'Currency' | translate}} {{financial.get("defecit")}}</span>
      </ion-item>    
    </ion-list>
  </ion-content>
</ion-view>
