<ion-view title="Service Contacts">
  <ion-content>
    <ion-list ng-repeat="region in regions track by $index" ng-init="regionIndex = $index">
	    <div class="item item-divider" ng-if="region.get('serviceContactList').length">
	    	{{region.get("name")}}
	    </div>
	    <ion-item ng-repeat="serviceContact in region.get('serviceContactList')" ng-init="serviceContactIndex = $index">
	      <h2>{{serviceContact.name}}</h2>
	      <p ng-if="serviceContact.type">{{serviceContact.type}}</p>
		    <p ng-if="serviceContact.phoneNumberList">
			    <i class="icon ion-iphone"></i>
			    <span ng-repeat="phNo in serviceContact.phoneNumberList">
			    	{{phNo}} {{$last ? '' : ', '}}
			    </span>
		    </p>	      
	    </ion-item>
    </ion-list>
<!-- 	<div class="card" ng-if="!regions.length">
	  <div class="item item-text-wrap warn"> 
	    Service contacts have not found in any of your regions.
	  </div>
	</div>    
 -->	<div class="item item-divider">
		Community Recommendations
	</div>
    <ion-list ng-if="personalServiceContacts">
	    <ion-item ng-repeat="serviceContact in personalServiceContacts" ng-init="personalServiceContactsIndex = $index">
	      <h2>{{serviceContact.get('serviceName')}}</h2>
	      <p>{{serviceContact.get('type')}}</p>
	      <p>{{serviceContact.get('servicePhoneNumber')}}</p>
	      <ion-option-button class="button-info button-assertive" ng-click="deleteServiceContact(personalServiceContactsIndex)">Delete</ion-option-button>
	    </ion-item>
    </ion-list>
	<div class="card">
	  <div class="item item-text-wrap success"> 
	    Have you received a good service recently?<br><br>
	    <a class="button button-calm button-block" ng-click="gotoAddServiceContact()">Recommend Service</a>
	  </div>
	</div>    	    
  </ion-content>
</ion-view>