<ion-view>
  <ion-nav-title>{{region.get("name")}}</ion-nav-title>
  <ion-content>
    <my-app-message info="appMessage"></my-app-message>
    <my-app-message info="controllerMessage"></my-app-message>
    <ion-list>
      <div class="item item-image" ng-if="posterImages.length==0">
        <img ng-src="img/picture_template.png">
      </div>     
      <div class="item" ng-if="posterImages.length>0">
        <ion-slide-box>          
          <ion-slide ng-repeat="image in posterImages" ng-init="imageIndex = $index">
            <img class="full-image" ng-src="{{image}}">        
          </ion-slide>
        </ion-slide-box>
      </div>    
      <ion-item ng-click="updateCoverPhoto()" class="item-icon-left item-icon-right" ng-if="posterImages.length==0 && isAdmin">
          <i class="icon ion-ios-camera-outline royal"></i>
          Add Cover Photo 
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>                
      <ion-item href="#/tab/neighbors" class="item-icon-left item-icon-right" ng-if="regionSettings.hoa && regionSettings.supportHomeNumber && !isAdmin">
          <i class="icon ion-ios-people-outline royal"></i>
          Residents 
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>          
      <ion-item href="#/tab/homes" class="item-icon-left item-icon-right" ng-if="regionSettings.hoa && isAdmin && regionSettings.supportHomeNumber">
          <i class="icon ion-ios-home-outline royal"></i>
          Residences
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>                
      <ion-item href="#/tab/legis/{{region.get('uniqueName')}}" class="item-icon-left item-icon-right" ng-if="regionSettings.legislativeMgmt!='SELF'">
        <i class="icon ion-ios-person-outline royal"></i>
          {{'LegContact' | translate}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>      
      <ion-item href="#/tab/selflegis/{{region.get('uniqueName')}}" class="item-icon-left item-icon-right" ng-if="regionSettings.legislativeMgmt=='SELF'">
        <i class="icon ion-ios-person-outline royal"></i>
          {{'LegContact' | translate}}      
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item href="#/tab/service/{{region.get('uniqueName')}}" class="item-icon-left item-icon-right">
        <i class="icon ion-ios-flame-outline royal"></i>
          Service Contacts
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>                  
      <ion-item href="#/tab/offices/{{region.get('uniqueName')}}" class="item-icon-left item-icon-right">
        <i class="icon ion-ios-book-outline royal"></i>            
          {{'ExecContact' | translate}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>      
      <ion-item class="item-icon-left item-icon-right" href="#/tab/invite-citizen"  ng-if="!regionSettings.supportHomeNumber">
        <i class="icon ion-ios-people-outline royal"></i>
        {{'InvitePage' | translate}}        
        <i class="icon ion-chevron-right icon-accessory"></i>                                   
      </ion-item>                              
      <ion-item href="#/tab/demo/{{region.get('uniqueName')}}" class="item-icon-left item-icon-right">
        <i class="icon ion-ios-world-outline royal"></i>      
          Demography
          <i class="icon ion-chevron-right icon-accessory"></i>    
      </ion-item>      
      <ion-item href="#/tab/region-settings/{{region.get('uniqueName')}}" class="item-icon-left item-icon-right" ng-if="canControlSettings">
        <i class="icon ion-ios-gear-outline royal"></i>      
          Community Settings
          <i class="icon ion-chevron-right icon-accessory"></i>    
      </ion-item>                                    
<!--       <ion-item href="#/tab/upload-neighbors" class="item-icon-left item-icon-right" ng-if="canLogout">
        <i class="icon ion-ios-upload-outline royal"></i>      
          Upload Neighbors
          <i class="icon ion-chevron-right icon-accessory"></i>    
      </ion-item>                                           -->
  	</ion-list>
  </ion-content>
</ion-view>