<ion-view title="Legislature">
  <ion-content>
    <my-app-message info="appMessage"></my-app-message>
    <my-app-message info="controllerMessage"></my-app-message>  	
    <my-app-message info="ideaMessage"></my-app-message>
<!-- TODO :: Uncomment when delete works    <ion-list can-swipe="canUpdateRegion"> -->
    <ion-list>    
	    <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="legis in legisList track by $index" ng-init="legisIndex = $index" href="#/tab/neighbor-detail/{{legis.id}}">
	      <img ng-src="{{legis.get('images')[0]}}" ng-if="legis.get('images')">
	      <img ng-src="img/avatar2.png" ng-if="!legis.get('images')">
	      <h2>{{legis.get("firstName")}} {{legis.get("lastName")}}</h2>
	      <p>{{legis.get('title')}}</p>
		    <p ng-if="legis.get('phoneNum')">
<!-- 			    <i class="icon ion-iphone"></i> -->
			    <span>
			    	{{legis.get('phoneNum')}}
			    </span>
		    </p>	      
		    <i class="icon ion-chevron-right icon-accessory"></i>
<!-- 		    <ion-option-button class="button-info button-assertive" ng-click="deleteLegis(legisIndex)">Delete</ion-option-button> -->
	    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>