<ion-view>
  <ion-nav-title>
    Neighbor
  </ion-nav-title>
  <ion-content class="visible-cards">
    <my-app-message info="appMessage"></my-app-message>
    <my-app-message info="controllerMessage"></my-app-message>

    <div class="card">
      <div class="item item-avatar item-icon-right">
        <img ng-src="{{user.get('images')[0]}}" ng-if="user.get('images')">
        <img src="img/avatar2.png" ng-if="!user.get('images')">
        <a href="#/tab/admin-neighbor-update/{{user.id}}"><i class="icon ion-compose royal"></i></a>     
        <h2>{{user.get("firstName")}}&nbsp;{{user.get("lastName")}}</h2>
        <p ng-if="user.get('homeNo')">Home # {{user.get("homeNo")}}</p>
      </div>
      <ion-item ng-if="isNeighborAdmin">
         {{'Role' | translate}}
          <span class="item-note">{{getRoleNameFromRoleCode(user.get("role"))}}</span>                  
      </ion-item>                        
      <ion-item ng-if="user.get('title')">
        Honorable Title<span class="item-note">{{user.get("title")}}</span>                        
      </ion-item>                       
      <ion-item>
        {{'PhNum' | translate}}<span class="item-note">{{user.get("username")}}</span>            
      </ion-item>      
      <ion-item>
        Blood Group
        <span class="item-note custom-badge" ng-if="user.get('bloodGroup')">{{user.get("bloodGroup")}}</span>
        <span class="item-note custom-badge" ng-if="!user.get('bloodGroup')">NA</span>            
      </ion-item>                  
      <ion-item>
        Resident
        <span class="item-note" ng-if="user.get('homeOwner')">Owner</span>            
        <span class="item-note" ng-if="!user.get('homeOwner')">Tenant</span>            
<!--         <i class="icon ion-checkmark-circled balanced" ng-if="user.get('homeOwner')"></i>     
        <i class="icon ion-android-cancel assertive" ng-if="!user.get('homeOwner')"></i> -->
      </ion-item>            
       <ion-item>
          Invitation Status 
          <span class="item-note" ng-if="user.get('status')=='P'">Pending</span>
          <span class="item-note" ng-if="user.get('status')!='P'">Accepted</span>
        </ion-item>      
    </div>    

    <my-app-message info="copyStatusMessage"></my-app-message>
    <div class="card"  ng-if="isAdmin && user.get('status')=='P'">
      <ion-item class="item-divider">Invitation Message</ion-item>
      <ion-item class="item-text-wrap" on-hold="copyInvitationMessage()">
        You have been invited to OurBlock. Use invitation code, <span style="font-weight: bold;">{{user.id}}</span> to login to the service. Download app at http://tinyurl.com/jb9tfnr              
      </ion-item>                       
    </div>    

    <div class="padding" ng-if="isAdmin && user">
      <button class="button button-balanced button-block" ng-click="appointOnBoard()" ng-if="user.get('role')!='LEGI'">
        Appoint on Board
      </button>
      <button class="button button-assertive button-block" ng-click="removeOnBoard()" ng-if="user.get('role')=='LEGI'">
        Remove on Board
      </button>      
      <button class="button button-royal button-block" ng-click="sendInvitationCode()">
        Re-Send Invitation Code
      </button>      
<!--       <button class="button button-block button-assertive" ng-click="blockUser()">
        Block User
      </button>       -->
    </div>
  </ion-content>
</ion-view>