<ion-view title="Executive Offices">
    <ion-nav-buttons side="secondary" >
      <a class="button" href="#/tab/addoffices/{{region.get('uniqueName')}}" ng-show="canUpdateRegion">
      	<i class="icon ion-plus"></i>
      </a>
    </ion-nav-buttons>
  <ion-content>
  	<div ng-show="region.get('execOffAddrList').length==0" class="card padding assertive">
  		Executive office list not available for {{region.get("name")}}
  	</div>  
    <div class="card" ng-repeat="execOffAddr in region.get('execOffAddrList')">
	  <div class="item item-divider item-icon-right">
        <a ng-click="openOfficePopover($event, execOffAddr.officeName)" ng-if="canUpdateRegion"><i class="icon ion-navicon royal"></i></a>
	    {{execOffAddr.officeName}}
	  </div>
	  <div class="item item-text-wrap">
	    <div>
	    	<div ng-if="execOffAddr.addressLine1">{{execOffAddr.addressLine1}}</div>
	    	<div ng-if="execOffAddr.addressLine2">{{execOffAddr.addressLine2}}</div>
	    	<div ng-if="execOffAddr.landmark">{{execOffAddr.landmark}}</div>
	    </div>
	    <p ng-if="execOffAddr.phoneNumberList">
		    <i class="icon ion-iphone"></i>
		    <span ng-repeat="phNo in execOffAddr.phoneNumberList">
		    	{{phNo}} {{$last ? '' : ', '}}
		    </span>
	    </p>
	      <div ng-repeat="admin in execOffAddr.execAdmin" class="nameContact">
	        <h2>{{admin.title}}</h2>
	        <p>
				{{admin.name}}&nbsp;
		        <i class="icon ion-iphone" ng-show="admin.phoneNumberList"></i>
			    <span ng-repeat="adminPhNo in admin.phoneNumberList">
			    	{{adminPhNo}} {{$last ? '' : ', '}}
			    </span>	        	        
			</p>
	      </div>	    	
	  </div>
	</div>
  </ion-content>
</ion-view>