<ion-view title="Financials">
  <ion-content>
    <div ng-show="finOverviewErrorMessage" class="card padding assertive">{{finOverviewErrorMessage}}</div>    
    <ion-list ng-repeat="financial in financials">
      <ion-item class="item-divider">{{financial.get("year")}}</ion-item>    
      <ion-item href="#/tab/findet/{{financial.get('regionUniqueName')}}/{{financial.get('year')}}/revenue" class="item-icon-right">
          Revenue <span class="item-note">{{'Currency' | translate}} {{financial.get("revenue")}}</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>                
      <ion-item href="#/tab/findet/{{financial.get('regionUniqueName')}}/{{financial.get('year')}}/expenses" class="item-icon-right">
          Expenses <span class="item-note">{{'Currency' | translate}} {{financial.get("expenses")}}</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>                
      <ion-item ng-if="financial.get('surplus')">
          Surplus <span class="item-note">{{'Currency' | translate}} {{financial.get("surplus")}}</span>
      </ion-item>    
      <ion-item ng-if="financial.get('defecit')">
          Defecit <span class="item-note">{{'Currency' | translate}} {{financial.get("defecit")}}</span>
      </ion-item>    
    </ion-list>
  </ion-content>
</ion-view>
