<ion-view title="Homes">
  <ion-nav-buttons side="secondary">
	<a class="button button-light button-outline" style="border-color: #fff; color: #fff;" href="#/tab/add-homes">&nbsp;&nbsp;New Home&nbsp;&nbsp;</a>    	
  </ion-nav-buttons>
  <ion-content>
  <my-app-message info="appMessage"></my-app-message>  
  <my-app-message info="controllerMessage"></my-app-message>  
  	<ion-list>
	    <ion-item class="item-icon-right" collection-repeat="home in homeList" href="#/tab/home-detail/{{home.homeNo}}">
	      <h2>Home # {{home.homeNo}} </h2>		
	      <p ng-if="home.noOfResidents>0">{{home.noOfResidents}} Residents</p>      
        <p ng-if="home.noOfResidents<1"><span class="assertive">No Residents</span></p>      
		  <i class="icon ion-chevron-right icon-accessory"></i>	      	      	      	      
	    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>