<ion-view view-title="Account Update">
	<ion-content>			
		<my-app-message info="controllerMessage"></my-app-message>
		<div class="list">		
			<label class="item item-input">
				<span class="input-label">First Name</span>
				<input type="text" name="firstName"  ng-model="inputUser.firstName">
			</label>
			<label class="item item-input">
				<span class="input-label">Last Name</span>
				<input type="text" name="lastName" ng-model="inputUser.lastName">
			</label>
			<label class="item item-input">
				<span class="input-label">Email</span>
				<input type="text" name="email" ng-model="inputUser.email">
			</label>															
			<!-- Changing home number is not supported for residents, admin should change  -->
<!-- 			<label class="item item-input" ng-if="!regionSettings.supportHomeNumber">
				<span class="input-label">Home/Unit/Apt #</span>
				<input type="text" name="homeNumber" ng-model="inputUser.homeNumber">
			</label>										 -->
			<label class="item item-input">
				<span class="input-label">Blood Group</span>
				<input type="text" size="4" name="bloodGroup" ng-model="inputUser.bloodGroup">
			</label>
			<div class="row">
				<div class="col">
					<a class="button button-block" href="#/tab/account">Cancel</a>	
				</div>
				<div class="col">
					<a class="button button-block button-balanced" ng-click="update()">Update</a>	
				</div>					
			</div>
		</div>
	</ion-content>
</ion-view>


