<ion-view view-title="Community Info">
	<ion-content>			
		<my-app-message info="controllerMessage"></my-app-message>
		<div class="list">		
			<label class="item item-input item-stacked-label">
				<span class="input-label">Total units in community</span>
				<input type="number" name="noOfUnits" class="textAlignLeft"  ng-model="communityInfo.noOfUnits">
			</label>		
			<label class="item item-input item-stacked-label">
				<span class="input-label">Established Year</span>
				<input type="number" name="year" class="textAlignLeft"  ng-model="communityInfo.year">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Builder name</span>
				<input type="text" name="builderName" class="textAlignLeft"  ng-model="communityInfo.builderName">
			</label>			
			<div class="padding">
		    	<button class="button button-block button-balanced" ng-click="next()">Next</button>
<!-- 		    	<button class="button button-block button-royal" ng-click="cancel()">Previous</button>		    	 -->
			</div>
		</div>
	</ion-content>
</ion-view>


