<ion-view hide-nav-bar="true">
	<ion-content class="vcenter padding">
		<img class="full-image" src="img/app_logo.png">	
		<my-app-message info="controllerMessage"></my-app-message>
		<my-app-message info="appMessage"></my-app-message>
		<div>
			<button class="button button-block button-calm" ng-click="haveInvitationCode()">I Have Invitation Code</button>
		</div>					
		<div>
			<button class="button button-block button-calm button-outline" ng-click="setUpCommunity()">Setup My Community</button>
		</div>					
	</ion-content>
</ion-view>


