<ion-view hide-nav-bar="true">
	<ion-content class="vcenter padding home-background">
<!-- 		<img class="full-image" src="img/app_logo.png">	 -->
		<my-app-message info="appMessage"></my-app-message>
		<div>
			<button class="button button-block button-royal" ng-click="haveInvitationCode()">Login To My Community</button>
		</div>					
		<div>
			<button class="button button-block button-balanced" ng-click="setUpCommunity()">Register Community</button>
		</div>					
	</ion-content>
</ion-view>


