<ion-view hide-nav-bar="true">
	<ion-content class="vcenter padding">
		<img class="full-image" src="img/app.png">	
		<my-app-message info="appMessage"></my-app-message>
		<br><br>
		<div>
			<div class="item-note">Have your received invitation from your community?</div><br>
			<button class="button button-block button-calm" ng-click="haveInvitationCode()">Join Your Community</button>
<!-- 			<button class="button button-block button-royal bold" ng-click="haveInvitationCode()">LOGIN TO COMMUNITY</button>
 -->		</div>					
		<br><br>
		<div>
			<div class="item-note">Are you looking to use the app in your community?</div><br>	
			<button class="button button-block button-balanced" ng-click="setUpCommunity()">Register Your Community</button>
<!-- 			<button class="button button-block button-balanced bold" ng-click="setUpCommunity()">REGISTER COMMUNITY</button> -->
		</div>					
	</ion-content>
</ion-view>


