<ion-view view-title="Login">
	<ion-content class="padding">
<!-- 		<img class="full-image" src="img/app_logo.png">	 -->
		<my-app-message info="controllerMessage"></my-app-message>
		<my-app-message info="appMessage"></my-app-message>
		<div class="list padding-top">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Mobile Number</span>
		    <input type="tel" ng-model="inputForm.phoneNum" class="textAlignLeft">
		  </label>     	  
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">PIN</span>
		    <input type="tel" ng-model="inputForm.pin" class="textAlignLeft" maxlength="{{inputForm.pinLength}}">
		  </label>     	  		  
		</div>
		<div>
		  <a ng-click="showTerms()" class="icon ion-ios-book-outline assertive"></a> <a ng-click="showTerms()">I agree to terms and conditions</a>
		</div>
		<div class="row">
			<div class="col">
				<button class="button button-block button-outline" ng-click="recoverInvitationCode()">Recover PIN</button>
			</div>		
			<div class="col">
				<button class="button button-block button-calm" ng-click="validateInvitationCode()">Login</button>
			</div>											
		</div>
	</ion-content>
</ion-view>


