<ion-view view-title="Invite">
	<ion-nav-buttons side="secondary">
<!-- 		<a class="button button-icon icon ion-person-add icon-assertive" ng-click="pickContact()"></a> -->
<!-- 		<a class="button button-icon icon ion-ios-personadd icon-assertive" ng-click="pickContact()"></a> -->
		<a class="button button-light button-outline"  style="border-color: #fff; color: #fff;" ng-click="pickContact()">Contacts</a>    
	</ion-nav-buttons>
	<ion-content>			
		<my-app-message info="controllerMessage"></my-app-message>
		<div class="list">		
			<label class="item item-input">
				<span class="input-label">First Name</span>
				<input type="text" name="firstName"  ng-model="user.firstName">
			</label>
			<label class="item item-input">
				<span class="input-label">Last Name</span>
				<input type="text" name="lastName" ng-model="user.lastName">
			</label>			
			<label class="item item-input" ng-if="regionSettings.supportHomeNumber">
				<span class="input-label">Home/Unit/Apt #</span>
				<input type="text" name="homeNumber" ng-model="user.homeNumber">
			</label>					
	        <ion-toggle class="toggle-balanced" ng-model="user.homeOwner">
	          Home Owner
	        </ion-toggle>          				
			<label class="item item-input">
				<span class="input-label">Phone Number</span>
				<input type="tel" name="phoneNum" ng-model="user.phoneNum" maxlength="15">
			</label>
			<div class="row">
				<div class="col">
					<a class="button button-block" href="#/tab/neighbors">Cancel</a>	
				</div>
				<div class="col">
					<a class="button button-block button-balanced" ng-click="invite()">Invite</a>	
				</div>					
			</div>
<!-- 			<div class="row">
				<div class="col">
					<a class="button button-block button-balanced" ng-click="saveContact()">Create Contact</a>	
				</div>					
			</div>			 -->
		</div>
	</ion-content>
</ion-view>


