<ion-view view-title="Account">
  <ion-content class="visible-cards">
  <my-app-message info="appMessage"></my-app-message>
  <my-app-message info="accessRequestMessage"></my-app-message>
  <my-app-message info="controllerMessage"></my-app-message>
<!--     <h4>&nbsp;&nbsp;&nbsp;&nbsp;Profile</h4> -->
    <div class="card">
      <div class="item item-avatar item-icon-right">
        <img ng-src="{{user.get('images')[0]}}" ng-click="showProfilePicture()" ng-if="user.get('images')">
        <img src="img/avatar2.png" ng-click="showProfilePicture()" ng-if="!user.get('images')">
        <a href="#/tab/account-update"><i class="icon ion-compose royal"></i></a>     
        <h2>{{user.get("firstName")}}&nbsp;{{user.get("lastName")}}</h2>
        <p ng-if="user.get('homeNo')">{{user.get("homeNo") | formatHomeNumber}}</p>
<!--         <p ng-if="privs.isSuperAdmin">Super Admin</p> -->
      </div>
      <ion-item>
        {{'PhNum' | translate}}<span class="item-note">{{user.get("username")}}</span>            
      </ion-item>            
<!--       <ion-item>
        Residency<span class="item-note">{{regionDisplayName}}</span>                  
      </ion-item>                               -->
      <ion-item ng-if="!privs.isCitizen">
         {{'Role' | translate}}
          <span class="item-note">{{getRoleNameFromRoleCode(user.get("role"))}}</span>                  
      </ion-item>                        
      <ion-item ng-if="user.get('title')">
        Honorable Title<span class="item-note">{{user.get("title")}}</span>                        
      </ion-item>                       
      <ion-item>
        Blood Group
        <span class="badge badge-royal" ng-if="user.get('bloodGroup')">{{user.get("bloodGroup")}}</span>  
        <!-- <span class="item-note custom-badge" ng-if="!user.get('bloodGroup')">NA</span>             -->
        <span class="item-note assertive" ng-if="!user.get('bloodGroup')">Not Provided</span>
      </ion-item>
      <ion-item ng-if="user.get('email')">
        Email
        <span class="item-note">{{user.get("email")}}</span>  
      </ion-item>     
    </div>    
<!--     <h4>&nbsp;&nbsp;&nbsp;&nbsp;Settings</h4> -->
    <div class="card">
      <ion-toggle ng-model="settings.notifications" ng-change="notifySettingChanged('notifySetting', settings.notifications)">
          {{'Notify' | translate}}
      </ion-toggle>          
      <ion-item class="item-icon-right" ng-click="registerDevice()" ng-if="!privs.isDeviceRegistered">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Register device
      </ion-item>  
      <ion-item class="item-icon-right" ng-click="uploadProfilePicture()">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Upload Profile Picture
      </ion-item>                
      <ion-item class="item-icon-right" ng-click="switchResidency()" ng-if="canSwitchResidency">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Switch Residency
      </ion-item>                    
      <ion-item class="item-icon-right" href="#/tab/adminaccess" ng-if="!isPendingRequest && !privs.isSuperAdmin && !regionSettings.hoa">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Request Role Change
      </ion-item>            
      <ion-item class="item-icon-right" href="#/tab/adminAccessList" ng-if="privs.isSuperAdmin && !regionSettings.hoa">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Review Role Changes
      </ion-item>      
<!--       <ion-item on-hold="copyInvitationCode()">
        PIN<span class="item-note calm">{{user.get("pin")}}</span>                        
      </ion-item>                                    -->      
      <ion-item>
        App Version<span class="item-note">{{appVersion}}</span>                        
      </ion-item>                             
      <ion-item class="item-icon-right" ng-click="logout()" ng-if="privs.isLogoutAllowed">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Sign Out
      </ion-item>      
    </div>        

  </ion-content>
</ion-view>
 