<ion-view view-title="Account">
  <ion-content class="visible-cards">
  <my-app-message info="accessRequestMessage"></my-app-message>
<!--     <h4>&nbsp;&nbsp;&nbsp;&nbsp;Profile</h4> -->
    <div class="card">
      <div class="item item-icon-right">
        <a href="#/guest/info-edit"><i class="icon ion-compose calm"></i></a>      
        <h2>{{user.get("firstName")}}&nbsp;{{user.get("lastName")}}</h2>
      </div>
      <ion-item>
        Residency<span class="item-note">{{regionDisplayName}}</span>                  
      </ion-item>                        
      <ion-item>
         {{'Role' | translate}}
          <span class="item-note">
            {{getRoleNameFromRoleCode(user.get("role"))}}
          </span>                  
      </ion-item>                        
      <ion-item ng-if="user.get('title')">
        Honorable Title<span class="item-note">{{user.get("title")}}</span>                        
      </ion-item>                       
      <ion-item>
        {{'PhNum' | translate}}<span class="item-note">{{user.get("username")}}</span>            
      </ion-item>      
    </div>    
<!--     <h4>&nbsp;&nbsp;&nbsp;&nbsp;Settings</h4> -->
    <div class="card">
      <ion-toggle ng-model="settings.notifications" ng-change="notifySettingChanged('notifySetting', settings.notifications)">
          {{'Notify' | translate}}
      </ion-toggle>          
      <ion-item class="item-icon-right" ng-click="registerDevice()" ng-if="ionic.Platform.isWebView() && user.get('deviceReg')!='Y'">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Register device
      </ion-item>  
      <ion-item class="item-icon-right" href="#/tab/adminaccess" ng-if="!isPendingRequest && !privs.isSuperAdmin">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Request Role Change
      </ion-item>            
      <ion-item class="item-icon-right" href="#/tab/adminAccessList" ng-if="privs.isSuperAdmin">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Review Role Changes
      </ion-item>      
      <ion-item class="item-icon-right" href="#/tab/invite-citizen">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Invite Citizen
      </ion-item>      
      <ion-item class="item-icon-right" ng-click="logout()" ng-if="privs.isLogoutAllowed">
        <i class="icon ion-chevron-right icon-accessory"></i>                           
        Sign Out
      </ion-item>      
    </div>        

  </ion-content>
</ion-view>
 