<ion-view view-title="Vehicles">
  <ion-nav-buttons side="secondary" >
    <a class="button button-icon icon ion-ios-plus-outline" ng-if="selfUser" href="#/tab/account-vehicle-add"></a>      
  </ion-nav-buttons>
  <ion-content>
    <my-app-message info="appMessage"></my-app-message>
    <my-app-message info="controllerMessage"></my-app-message>  
    <ion-list ng-repeat="vehicle in vehicleList track by $index">
    	<ion-item class="item-divider item-icon-right" >
    		{{vehicle.type}} Wheeler <span ng-if="vehicle.model">- {{vehicle.model}}</span>
    		<a  ng-if="selfUser" ng-click="removeVehicle($index)"><i class="icon ion-ios-trash-outline assertive"></i></a>
    	</ion-item>
		<ion-item >
			Licence Plate Number
			<span class="item-note">{{vehicle.licensePlate}}</span>
		</ion-item>
		<ion-item >
			Community Number
			<span class="item-note">{{vehicle.communityRegNumber}}</span>
		</ion-item>		
		<ion-item ng-if="vehicle.color">
			Vehicle Color
			<span class="item-note">{{vehicle.color}}</span>
		</ion-item>				
    </ion-list>
  </ion-content>
</ion-view>
