<ion-view view-title="Yourself">
	<ion-content>			
		<my-app-message info="tipMessage"></my-app-message>		
		<my-app-message info="controllerMessage"></my-app-message>
		<div class="list">		
			<label class="item item-input item-stacked-label">
				<span class="input-label">First Name</span>
				<input type="text" name="firstName" class="textAlignLeft" ng-model="user.firstName">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Last Name</span>
				<input type="text" name="lastName" class="textAlignLeft" ng-model="user.lastName">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Mobile Number</span>
				<input type="tel" name="phoneNum" class="textAlignLeft" ng-model="user.phoneNum">
			</label>			
	        <ion-toggle class="toggle-calm" ng-model="user.homeOwner">
	          Are you home owner?
	        </ion-toggle>          													
			<label class="item item-input item-stacked-label" ng-if="communityInfo.multiBlock">
				<span class="input-label">Block Number</span>
				<input type="text" name="blockNo" class="textAlignLeft" ng-model="user.blockNo">
			</label>										        
			<label class="item item-input item-stacked-label">
				<span class="input-label">Home Number</span>
				<input type="text" name="unitNo" class="textAlignLeft" ng-model="user.unitNo">
			</label>									
			<div class="padding">
		    	<button class="button button-block button-balanced" ng-click="submit()">Register Community</button>
<!-- 		    	<button class="button button-block button-balanced button-outline" ng-click="cancel()">Never mind</button> -->
			</div>	
		</div>
	</ion-content>
</ion-view>


