<ion-modal-view>
	<ion-header-bar class="bar-positive">
		<button class="button button-clear" ng-click="closeReactedPeopleModal()">Close</button>
	  	<h1 class="title">Reacted People</h1>    
	</ion-header-bar>
		<ion-content>
			<ion-item ng-repeat="people in reactedPeople">
				{{people.get("user").get("firstName")}} &nbsp {{people.get("user").get("lastName")}} 
				&nbsp
				<i class="icon ion-thumbsup" ng-if="people.get('action')=='S'" ng-class="calm">
				<i class="icon ion-thumbsdown" ng-if="people.get('action')=='O'" ng-class="assertive">
			</ion-item>
		</ion-content>
</ion-modal-view>