<ion-view view-title="Update Post">
	<ion-content>
		<div ng-show="postErrorMessage" class="card padding warn">{{postErrorMessage}}</div>
		<div class="list">
<!-- 			<label class="item item-input item-select">
			    <div class="input-label">
			      Activity Type
			    </div>
			    <select ng-model="selectChoices.selectedActivityType" ng-options="activity.label for activity in allowedActivities">
			    </select>
			</label>
			<label class="item item-input item-select">
			    <div class="input-label">
			      Region
			    </div>
			    <select ng-model="selectChoices.selectedRegion" ng-options="region.label for region in allowedRegions">
			    </select>
			</label> -->
			<ion-item class="item-divider">Message</ion-item>
			</ion-item>
			<label class="item item-input">
			    <textarea placeholder="Message" rows="7" ng-model="post.notifyMessage"></textarea>
			</label>
		</div>
		<div class="row">
			<div class="col">
				<button class="button button-block button-assertive" ng-click="cancelPost()">Cancel</button>
			</div>					
			<div class="col">
				<button class="button button-block button-calm" ng-click="editPost()">Update Post</button>
			</div>
		</div>		
	</ion-content>
</ion-view>