<ion-view view-title="Post Activity">
	<ion-content>
		<my-app-message info="postErrorMessage"></my-app-message>
		<div class="card padding success" ng-show="postWarnMessage">{{postWarnMessage | translate}}</div>				
		<div class="list">
			<label class="item item-input item-select">
			    <div class="input-label">
			      Activity Type
			    </div>
			    <select ng-model="selectChoices.selectedActivityType" ng-options="activity.label for activity in allowedActivities" ng-change="handleActivitySelection()">
			    </select>
			  </label>
			<label class="item item-input item-select">
			    <div class="input-label">
			      Region
			    </div>
			    <select ng-model="selectChoices.selectedRegion" ng-options="region.label for region in allowedRegions">
			    </select>
			  </label>

			  <label class="item item-input">
			    <textarea placeholder="Message" rows="5" ng-model="post.notifyMessage"></textarea>
			  </label>
			  <a class="item item-icon-right" ng-click="goToAttachPicture()" ng-if="allowImageUpload && pictureUploaded==null">
			    Picture
			    <i class="icon ion-upload royal"></i>
			  </a>			  	  
			  <a class="item item-thumbnail-left item-icon-right"  ng-click="goToAttachPicture()" ng-if="allowImageUpload && pictureUploaded!=null">
			    <img ng-src="{{pictureUploaded}}">
			    <i class="icon ion-android-cloud-done balanced"></i>
			  </a>			  
		</div>
		<div class="padding">
			<button class="button button-block button-calm" ng-click="submitPost()">Post Activity</button>
		</div>
		<div class="padding">
			<button class="button button-block button-assertive" ng-click="cancelPost()">Cancel</button>
		</div>
	</ion-content>
</ion-view>