<ion-view view-title="Post Activity">
	<ion-content>
		<my-app-message info="postErrorMessage"></my-app-message>
		<div class="list">
		  <ion-item class="item-icon-left item-text-wrap" ng-if="postWarnMessage">
		    <i class="icon ion-information-circled royal"></i>
		    <div ng-bind-html="postWarnMessage | translate"></div>
		  </ion-item>          		
			<li class="item item-toggle" ng-if="post.activityType=='ISSU'">
			 Community Problem
			 <label class="toggle toggle-balanced">
			   <input type="checkbox" ng-model="activitySettings.communityProblem">
			   <div class="track">
			     <div class="handle"></div>
			   </div>
			 </label>
			</li>
<!-- 	        <ion-toggle class="toggle-assertive" ng-model="activitySettings.communityProblem" ng-if="post.activityType=='ISSU'">
	          Community Problem
	        </ion-toggle>      -->     			
			<label class="item item-input item-select" ng-hide="allowedRegions.length==1">
			    <div class="input-label">
			      Region
			    </div>
			    <select ng-model="selectChoices.selectedRegion" ng-options="region.label for region in allowedRegions">
			    </select>
			  </label>
			  <ion-item class="item-divider">Message</ion-item>
			  <label class="item item-input">
			    <textarea placeholder="Type in your message..." rows="10" ng-model="post.notifyMessage"></textarea>
			  </label>
			  <a class="item item-icon-right" ng-click="goToAttachPicture()" ng-if="allowImageUpload && pictureUploaded==null">
			    Picture
			    <i class="icon ion-upload royal"></i>
			  </a>			  	  
			  <a class="item item-thumbnail-left item-icon-right"  ng-click="goToAttachPicture()" ng-if="allowImageUpload && pictureUploaded!=null">
			    <img ng-src="{{pictureUploaded}}">
			    <i class="icon ion-android-cloud-done balanced"></i>
			  </a>		
			  <ion-checkbox ng-model="post.notifyHomeOwners">Notify home owners only?</ion-checkbox>
			  <ion-item class="item-icon-right item-text-wrap" ng-click="openChoiceModalOfBlocksType()" ng-if="regionSettings.multiBlock">
				<i class="icon ion-chevron-right icon-accessory" style="color: #11c1f3;"></i>
				Want to notify a specific block?<p>{{uniqueBlocks[blockIndex].label}}</p>
			</ion-item>	
		</div>
		<div class="row">
			<div class="col">
				<button class="button button-block button-assertive" ng-click="cancelPost()">Cancel</button>
			</div>					
			<div class="col">
				<button class="button button-block button-calm" ng-click="submitPost()">Post Activity</button>
			</div>
		</div>
	</ion-content>
</ion-view>