<ion-view view-title="Activity">
  <ion-nav-buttons side="secondary">
    <a class="button button-icon icon ion-compose" href="#/tab/pick-activity-type" ng-if="user.get('status')!='S'"></a>
<!--     <a class="button button-icon icon ion-compose" href="#/tab/post" ng-if="user.get('status')!='S'"></a> -->
  </ion-nav-buttons>
  <ion-content class="visible-cards">
    <my-app-message info="appMessage"></my-app-message>
    <my-app-message info="tipMessage"></my-app-message>    
    <my-app-message info="activityError"></my-app-message>
    <div class="list card" ng-repeat="activity in activities" ng-hide="activityError" ng-init="activityIndex = $index">
      <div class="item item-avatar item-icon-right">
        <img ng-src="{{activity.get('user').get('images')[0]}}" ng-if="activity.get('user').get('images')">
        <img src="img/avatar2.png" ng-if="!activity.get('user').get('images')">      
        <a ng-click="openAdminActionSheet(activity.id, activityIndex, activity.get('status'))" ng-if="isAdmin"><i class="icon ion-android-more-vertical royal"></i></a>      
        <a ng-click="openUserActionSheet(activity.id, activityIndex)" ng-if="activity.get('user').id==user.id && !isAdmin"><i class="icon ion-android-more-vertical royal"></i></a>
        <a ng-click="openActionSheet(activity.id, activityIndex)" ng-if="activity.get('user').id!=user.id && !isAdmin"><i class="icon ion-android-more-vertical royal"></i></a>
        <h2>{{activity.get("user").get("firstName")}} {{activity.get("user").get("lastName")}}</h2>
        <p ng-show="activity.get('activityType')=='NOTF'">{{activity.get("user").get("title")}}</p>
        <p ng-if="activity.get('user').get('homeNo')">Home # {{activity.get("user").get("homeNo")}}</p>
      </div>

      <div class="item item-body">
        <a ng-click="showActivityImage(activityIndex)">
          <img class="full-image" ng-src="{{activity.get('images')[0]}}" ng-if="activity.get('images')">
        </a>        
        <p ng-bind-html="activity.get('notifyMessage') | nl2br">
        </p>
        <p ng-repeat="choice in activity.get('choices')" ng-init="choiceIndex = $index">{{choiceIndex+1}}. {{choice}}</p>
        <a ng-if="activity.get('activityType')=='POLL'" class="button button-block button-balanced button-outline" ng-click="respondToPoll(activity.id, activityIndex)">
          <span ng-if="isPollExpired($index)">View Poll Results</span>
          <span ng-if="!isPollExpired($index)">Respond To Poll</span>
        </a>
        <p ng-if="activity.get('activityType')=='POLL' && !isPollExpired($index)">
          <span class="assertive">* Poll closes on {{activity.get('endDate') | date:'mediumDate'}}.</span>
        </p>                

        <p>{{activity.createdAt | date:'mediumDate'}}&nbsp;{{activity.createdAt | date:'shortTime'}}</p>        
        <p ng-if="activity.get('status')=='S'" >
          <span class="assertive">* Activity marked as spam</span>
        </p>
        <p ng-if="activity.get('status')=='P'" >
          <span class="assertive">* Activity is visible to only board members.</span>
        </p>        
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left" ng-if="activity.get('activityType')=='IDEA' || activity.get('activityType')=='ISSU'">
        <a class="tab-item" ng-click="respond(activity.id, 'support')">
          <i class="icon ion-thumbsup"  ng-class="isThisActionChosen(activity.id, 'support')"></i>
          Support ({{activity.get("support")}})
        </a>
        <a class="tab-item"  ng-click="respond(activity.id, 'oppose')">
          <i class="icon ion-thumbsdown" ng-class="isThisActionChosen(activity.id, 'oppose')"></i>
          Oppose ({{activity.get("oppose")}})
        </a>        
        <a class="tab-item" ng-click="beginDebate(activity.id, activityIndex)">
          <i class="icon ion-chatbox royal"></i>
          Feedback ({{activity.get("debate")}})
        </a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left" ng-if="activity.get('activityType')=='EVNT'">
        <a class="tab-item" ng-click="respond(activity.id, 'support')">
          <i class="icon ion-thumbsup"  ng-class="isThisActionChosen(activity.id, 'support')"></i>
          Join ({{activity.get("support")}})
        </a>
        <a class="tab-item" ng-click="beginDebate(activity.id, activityIndex)">
          <i class="icon ion-chatbox royal"></i>
          Comment ({{activity.get("debate")}})
        </a>
      </div>      
      <div class="item tabs tabs-secondary tabs-icon-left" ng-if="activity.get('activityType')=='NOTF'">
        <a class="tab-item" ng-click="respond(activity.id, 'support')">
          <i class="icon ion-thumbsup"  ng-class="isThisActionChosen(activity.id, 'support')"></i>
          Acknowledge ({{activity.get("support")}})
        </a>
        <a class="tab-item" ng-click="beginDebate(activity.id, activityIndex)">
          <i class="icon ion-chatbox royal"></i>
          Comment ({{activity.get("debate")}})
        </a>
      </div>            
      <div class="item tabs tabs-secondary tabs-icon-left" ng-if="activity.get('activityType')=='ASK'">
        <a class="tab-item" ng-click="respond(activity.id, 'support')">
          <i class="icon ion-thumbsup"  ng-class="isThisActionChosen(activity.id, 'support')"></i>
          Useful ({{activity.get("support")}})
        </a>
        <a class="tab-item" ng-click="beginDebate(activity.id, activityIndex)">
          <i class="icon ion-chatbox royal"></i>
          Answer ({{activity.get("debate")}})
        </a>
      </div>                  
      <div class="item item-body" ng-if="isDebateRequested(activity.id, activityIndex) &&  user.get('status')!='S'">
        <label class="item item-input">
          <textarea placeholder="Type in your message" rows="5" ng-model="argumentMessageList[activityIndex]"></textarea>
        </label>
        <div class="padding">
          <button class="button button-small button-royal" ng-click="postDebateArgument(activity.id, activityIndex)" ng-if="activity.get('activityType')=='IDEA' || activity.get('activityType')=='ISSU'">Submit Feedback</button>
          <button class="button button-small button-royal" ng-click="postDebateArgument(activity.id, activityIndex)" ng-if="activity.get('activityType')=='NOTF' || activity.get('activityType')=='EVNT'">Comment</button>          
          <button class="button button-small button-royal" ng-click="postDebateArgument(activity.id, activityIndex)" ng-if="activity.get('activityType')=='ASK'">Submit Answer</button>                    
        </div>        
      </div> 
      <div ng-if="isDebateRequested(activity.id, activityIndex)">
        <div class="item item-text-wrap" ng-repeat="debate in debateList[activityIndex]" ng-init="debateIndex = $index">
          <p class="commentUserDivider quote" ng-bind-html="debate.get('argument') | nl2br"></p>          
          <p>{{debate.get("user").get("firstName")}} {{debate.get("user").get("lastName")}}&nbsp;&nbsp;{{debate.createdAt | date:'short'}}</p>
          <p>
            <a ng-click="reportDebateSpam(debate.id, activityIndex, debateIndex)" class="assertive">Report Spam</a> &nbsp;
            <a ng-click="removeDebateSpamFlag(debate.id, activityIndex, debateIndex)" class="balanced" ng-if="debate.get('status')=='S'">Remove spam flag</a> &nbsp;
            <a ng-click="flagCommentUserAbusive(debate.id, activityIndex, debateIndex)" class="assertive" ng-if="debate.get('status')=='S'">Block user</a>
          </p> 
        </div>
      </div>       
    </div>
  </ion-content>
</ion-view>
