/* Empty. Add your own CSS if you like */
ion-content.visible-cards{
	background-color: #eeeeee;
}

input { 
    text-align: right; 
}

.nameContact {
	margin-top: 10px;
}

.commentUserDivider {
	margin-bottom: 10px;
    color: #000;
}

.popover {
    height: auto !important;
    width: auto !important;
}

.popover ion-content {
    top: 0;
    position: relative;
}

.popover .item {
    padding: 8px 10px;
    font-size: 14px;
}

.warn {
    background-color: #f2dede;
}

.success {
    background-color: #dff0d8;
}
