/* Empty. Add your own CSS if you like */

.bullet-list {
  list-style-type: disc;
  margin: 10px;
}

ion-content.visible-cards{
	background-color: #eeeeee;
}

.card {
  margin: 15px 10px;
}

input { 
    text-align: right; 
}

input.textAlignLeft { 
    text-align: left; 
}

.nameContact {
	margin-top: 10px;
}

.commentUserDivider {
	margin-bottom: 10px;
    color: #000;
}

.popover {
    height: auto !important;
    width: auto !important;
}

.popover ion-content {
    top: 0;
    position: relative;
}

.popover .item {
    padding: 8px 10px;
    font-size: 14px;
}

.warn {
    background-color: #f2dede;
}

.success {
    background-color: #dff0d8;
}

.quote {
  background: #f9f9f9;
  /*border-left: 10px solid #90d4c4;*/
  border-left: 10px solid #afeeee;
  padding: 0.5em 10px;
}

.vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-center {
  text-align: center;
}

.custom-badge {
  background-color: #ffa500; 
  color: #FFFFFF; 
  padding: 5px; 
  font-weight: bold;
}

.item-icon-left ion-spinner {
  float: left;
  margin-left: -3.2em;
  margin-right: 1em;
  margin-top: -0.2em;
 }

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #999;
  fill: #999;
}
